In [181]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [182]:
df = pd.read_csv("/content/flightPrice.csv")

In [183]:
df

,Date_of_journey,Journey_day,Airline,Flight_code,Class,Source,Departure,Total_stops,Arrival,Destination,Duration_in_hours,Days_left,Fare
0,2023-01-16,Monday,SpiceJet,SG-8169,Economy,Delhi,After 6 PM,non-stop,After 6 PM,Mumbai,2.0833,1,5335
1,2023-01-16,Monday,Indigo,6E-2519,Economy,Delhi,After 6 PM,non-stop,Before 6 AM,Mumbai,2.3333,1,5899
2,2023-01-16,Monday,GO FIRST,G8-354,Economy,Delhi,After 6 PM,non-stop,Before 6 AM,Mumbai,2.1667,1,5801
3,2023-01-16,Monday,SpiceJet,SG-8709,Economy,Delhi,After 6 PM,non-stop,After 6 PM,Mumbai,2.0833,1,5794
4,2023-01-16,Monday,Air India,AI-805,Economy,Delhi,After 6 PM,non-stop,After 6 PM,Mumbai,2.1667,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...,...
452083,2023-03-06,Monday,Vistara,UK-926,Business,Ahmedabad,6 AM - 12 PM,1-stop,After 6 PM,Chennai,13.0833,50,65028
452084,2023-03-06,Monday,Vistara,UK-918,Business,Ahmedabad,Before 6 AM,1-stop,12 PM - 6 PM,Chennai,11.2500,50,69254
452085,2023-03-06,Monday,Vistara,UK-918,Business,Ahmedabad,Before 6 AM,1-stop,12 PM - 6 PM,Chennai,11.2500,50,69254
452086,2023-03-06,Monday,Vistara,UK-946,Business,Ahmedabad,6 AM - 12 PM,1-stop,After 6 PM,Chennai,11.1667,50,72980
452087,2023-03-06,Monday,Vistara,UK-946,Business,Ahmedabad,6 AM - 12 PM,1-stop,After 6 PM,Chennai,11.1667,50,72980

In [184]:
df.isnull().sum()

Date_of_journey      0
Journey_day          0
Airline              0
Flight_code          0
Class                0
Source               0
Departure            0
Total_stops          0
Arrival              0
Destination          0
Duration_in_hours    0
Days_left            0
Fare                 0
dtype: int64

In [185]:
df['Date_of_journey'] = pd.to_datetime(df['Date_of_journey'], format='%Y-%m-%d')
df["Day"] = df["Date_of_journey"].dt.day
df["Month"] = df["Date_of_journey"].dt.month
df["Year"] = df["Date_of_journey"].dt.year
df.drop(columns=["Date_of_journey"], inplace=True)

In [186]:
encoder = OneHotEncoder(drop='first', sparse_output=False)

In [187]:
columns_to_encode = ['Class', 'Source','Airline','Journey_day','Destination']

In [188]:
one_hot_encoded_data = encoder.fit_transform(df[columns_to_encode])

In [189]:
one_hot_encoded_df = pd.DataFrame(one_hot_encoded_data, columns=encoder.get_feature_names_out(columns_to_encode))

one_hot_encoded_df.index = df.index

df.drop(columns=columns_to_encode, inplace=True)

df = pd.concat([df, one_hot_encoded_df], axis=1)

In [190]:
label_encoder = LabelEncoder()
df["Total_stops_encoded"] = label_encoder.fit_transform(df["Total_stops"])

df["Total_stops"] = df["Total_stops_encoded"]

In [191]:
df.drop(columns=["Flight_code"], inplace=True)

In [192]:
df["Departure"].unique()

array(['After 6 PM', 'Before 6 AM', '12 PM - 6 PM', '6 AM - 12 PM'],
      dtype=object)

In [193]:
df["Arrival"].unique()

array(['After 6 PM', 'Before 6 AM', '6 AM - 12 PM', '12 PM - 6 PM'],
      dtype=object)

In [194]:
Time_Slots = ['After 6 PM', 'Before 6 AM', '12 PM - 6 PM', '6 AM - 12 PM']

In [195]:
encoder = OneHotEncoder(categories=[Time_Slots,Time_Slots], drop='first', sparse_output=False)

In [196]:
one_hot_encoded_data = encoder.fit_transform(df[['Arrival', 'Departure']])

feature_names = encoder.get_feature_names_out(['Arrival', 'Departure'])

In [197]:
one_hot_encoded_df = pd.DataFrame(one_hot_encoded_data, columns=feature_names)
one_hot_encoded_df.index = df.index

In [198]:
df.drop(columns=['Arrival', 'Departure'], inplace=True)

In [199]:
df = pd.concat([df, one_hot_encoded_df], axis=1)

In [200]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452088 entries, 0 to 452087
Data columns (total 43 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Total_stops             452088 non-null  int64
 1   Duration_in_hours       452088 non-null  float64
 2   Days_left               452088 non-null  int64
 3   Fare                    452088 non-null  int64
 4   Day                     452088 non-null  int32
 5   Month                   452088 non-null  int32
 6   Year                    452088 non-null  int32
 7   Class_Economy           452088 non-null  float64
 8   Class_First             452088 non-null  float64
 9   Class_Premium Economy   452088 non-null  float64
 10  Source_Bangalore        452088 non-null  float64
 11  Source_Chennai          452088 non-null  float64
 12  Source_Delhi            452088 non-null  float64
 13  Source_Hyderabad        452088 non-null  float64
 14  Source_Kolkata          452088 non-null  float64
 15  Source_Mumbai           452088 non-null  float64
 16  Airline_AirAsia         452088 non-null  float64
 17  Airline_AkasaAir        452088 non-null  float64
 18  Airline_AllianceAir     452088 non-null  float64
 19  Airline_GO FIRST        452088 non-null  float64
 20  Airline_Indigo          452088 non-null  float64
 21  Airline_SpiceJet        452088 non-null  float64
 22  Airline_StarAir         452088 non-null  float64
 23  Airline_Vistara         452088 non-null  float64
 24  Journey_day_Monday      452088 non-null  float64
 25  Journey_day_Saturday    452088 non-null  float64
 26  Journey_day_Sunday      452088 non-null  float64
 27  Journey_day_Thursday    452088 non-null  float64
 28  Journey_day_Tuesday     452088 non-null  float64
 29  Journey_day_Wednesday   452088 non-null  float64
 30  Destination_Bangalore   452088 non-null  float64
 31  Destination_Chennai     452088 non-null  float64
 32  Destination_Delhi       452088 non-null  float64
 33  Destination_Hyderabad   452088 non-null  float64
 34  Destination_Kolkata     452088 non-null  float64
 35  Destination_Mumbai      452088 non-null  float64
 36  Total_stops_encoded     452088 non-null  int64
 37  Arrival_Before 6 AM     452088 non-null  float64
 38  Arrival_12 PM - 6 PM    452088 non-null  float64
 39  Arrival_6 AM - 12 PM    452088 non-null  float64
 40  Departure_Before 6 AM   452088 non-null  float64
 41  Departure_12 PM - 6 PM  452088 non-null  float64
 42  Departure_6 AM - 12 PM  452088 non-null  float64
dtypes: float64(36), int32(3), int64(4)
memory usage: 143.1 MB

In [201]:
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [202]:
y = df['Fare']
X = df.drop(columns=['Fare'])

In [203]:
X = sm.add_constant(X)

In [204]:
model = sm.OLS(y, X).fit()

In [205]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Fare   R-squared:                       0.850
Model:                            OLS   Adj. R-squared:                  0.850
Method:                 Least Squares   F-statistic:                 6.385e+04
Date:                Wed, 22 May 2024   Prob (F-statistic):               0.00
Time:                        19:54:37   Log-Likelihood:            -4.6974e+06
No. Observations:              452088   AIC:                         9.395e+06
Df Residuals:                  452047   BIC:                         9.395e+06
Df Model:                          40
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Total_stops            -1661.0606      9.986   -166.333      0.000   -1680.633   -1641.488
Duration_in_hours         68.9319      1.975     34.900      0.000      65.061      72.803
Days_left              -1053.8873     16.922    -62.280      0.000   -1087.054   -1020.721
Day                      932.5345     17.121     54.469      0.000     898.979     966.090
Month                   2.717e+04    508.011     53.489      0.000    2.62e+04    2.82e+04
Year                       4.9310      0.377     13.097      0.000       4.193       5.669
Class_Economy          -3.965e+04     30.163  -1314.646      0.000   -3.97e+04   -3.96e+04
Class_First             1.805e+04    658.106     27.430      0.000    1.68e+04    1.93e+04
Class_Premium Economy  -3.679e+04     39.124   -940.269      0.000   -3.69e+04   -3.67e+04
Source_Bangalore         831.7001     48.241     17.241      0.000     737.150     926.250
Source_Chennai           770.3576     50.985     15.109      0.000     670.428     870.287
Source_Delhi           -1200.6166     47.367    -25.347      0.000   -1293.454   -1107.780
Source_Hyderabad        -210.3223     50.597     -4.157      0.000    -309.491    -111.154
Source_Kolkata          4220.5285     50.745     83.171      0.000    4121.069    4319.988
Source_Mumbai           1098.7692     47.470     23.147      0.000    1005.730    1191.808
Airline_AirAsia        -1503.2467     69.626    -21.590      0.000   -1639.711   -1366.782
Airline_AkasaAir         792.7544    173.176      4.578      0.000     453.335    1132.173
Airline_AllianceAir      881.4545    399.640      2.206      0.027      98.171    1664.738
Airline_GO FIRST         291.9297     81.797      3.569      0.000     131.610     452.250
Airline_Indigo            79.0845     45.042      1.756      0.079      -9.197     167.366
Airline_SpiceJet        -197.8752    106.623     -1.856      0.063    -406.853      11.103
Airline_StarAir         4984.8934   1001.318      4.978      0.000    3022.340    6947.447
Airline_Vistara         4048.7357     30.494    132.770      0.000    3988.968    4108.504
Journey_day_Monday        43.5150     42.956      1.013      0.311     -40.676     127.706
Journey_day_Saturday     109.8899     44.353      2.478      0.013      22.960     196.820
Journey_day_Sunday       563.7660     44.519     12.663      0.000     476.509     651.023
Journey_day_Thursday    -337.3919     44.046     -7.660      0.000    -423.721    -251.063
Journey_day_Tuesday     -333.8940     44.790     -7.455      0.000    -421.681    -246.107
Journey_day_Wednesday     23.6959     44.255      0.535      0.592     -63.043     110.435
Destination_Bangalore   1977.5339     48.350     40.900      0.000    1882.769    2072.299
Destination_Chennai     2559.9141     50.449     50.742      0.000    2461.035    2658.793
Destination_Delhi          3.3814     48.214      0.070      0.944     -91.116      97.879
Destination_Hyderabad    809.8314     49.567     16.338      0.000     712.682     906.981
Destination_Kolkata     4769.1190     50.907     93.683      0.000    4669.343    4868.895
Destination_Mumbai      2439.3835     47.304     51.568      0.000    2346.669    2532.098
Total_stops_encoded    -1661.0606      9.986   -166.333      0.000   -1680.633   -1641.488
Arrival_Before 6 AM    -1728.4749     50.110    -34.494      0.000   -1826.689   -1630.261
Arrival_12 PM - 6 PM      59.3435     31.002      1.914      0.056      -1.419     120.106
Arrival_6 AM - 12 PM   -1893.0021     29.588    -63.979      0.000   -1950.993   -1835.011
Departure_Before 6 AM   -369.4529     58.063     -6.363      0.000    -483.255    -255.651
Departure_12 PM - 6 PM   210.1227     33.101      6.348      0.000     145.246     274.999
Departure_6 AM - 12 PM   246.0959     29.932      8.222      0.000     187.429     304.762
==============================================================================
Omnibus:                   120605.513   Durbin-Watson:                   0.315
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           918319.792
Skew:                           1.079   Prob(JB):                         0.00
Kurtosis:                       9.641   Cond. No.                     1.86e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.38e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [206]:
vif_data = pd.DataFrame()
vif_data["Feature"] = X.columns
vif_data["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

print(vif_data)

/usr/local/lib/python3.10/dist-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

                   Feature          VIF
0              Total_stops          inf
1        Duration_in_hours     1.570360
2                Days_left   426.854725
3                      Day   176.346354
4                    Month   745.900733
5                     Year  4228.517933
6            Class_Economy     1.635916
7              Class_First     1.005208
8    Class_Premium Economy     1.511946
9         Source_Bangalore     2.306218
10          Source_Chennai     2.072468
11            Source_Delhi     2.454650
12        Source_Hyderabad     2.045468
13          Source_Kolkata     2.023243
14           Source_Mumbai     2.409069
15         Airline_AirAsia     1.189139
16        Airline_AkasaAir     1.072930
17     Airline_AllianceAir     1.011099
18        Airline_GO FIRST     1.135770
19          Airline_Indigo     1.835800
20        Airline_SpiceJet     1.060705
21         Airline_StarAir     1.002113
22         Airline_Vistara     1.693526
23      Journey_day_Monday     1.805282
24    Journey_day_Saturday     1.708611
25      Journey_day_Sunday     1.712987
26    Journey_day_Thursday     1.722659
27     Journey_day_Tuesday     1.763111
28   Journey_day_Wednesday     1.727589
29   Destination_Bangalore     2.290396
30     Destination_Chennai     2.062110
31       Destination_Delhi     2.412535
32   Destination_Hyderabad     2.134565
33     Destination_Kolkata     2.000942
34      Destination_Mumbai     2.444540
35     Total_stops_encoded          inf
36     Arrival_Before 6 AM     1.160752
37    Arrival_12 PM - 6 PM     1.218973
38    Arrival_6 AM - 12 PM     1.241788
39   Departure_Before 6 AM     1.204366
40  Departure_12 PM - 6 PM     1.521414
41  Departure_6 AM - 12 PM     1.578744

In [207]:
# Extract p-values
p_values = model.pvalues

In [208]:
threshold = 0.05

In [209]:
features_above_threshold = p_values[p_values > threshold]

In [210]:
print("Features with p-value greater than 0.05:")
print(features_above_threshold)

Features with p-value greater than 0.05:
Airline_Indigo           0.079127
Airline_SpiceJet         0.063478
Journey_day_Monday       0.311049
Journey_day_Wednesday    0.592350
Destination_Delhi        0.944088
Arrival_12 PM - 6 PM     0.055597
dtype: float64

In [211]:
# Drop the 'Destination_Delhi' column as it has the highest value of p
X = X.drop(columns=['Destination_Delhi'])

So we have dropped the column with the highest p value and now we will fil this on OLS to see what changes we got.

In [212]:
# Add a constant term to the feature matrix
X = sm.add_constant(X)
model = sm.OLS(y, X).fit()

In [213]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Fare   R-squared:                       0.850
Model:                            OLS   Adj. R-squared:                  0.850
Method:                 Least Squares   F-statistic:                 6.549e+04
Date:                Wed, 22 May 2024   Prob (F-statistic):               0.00
Time:                        19:59:17   Log-Likelihood:            -4.6974e+06
No. Observations:              452088   AIC:                         9.395e+06
Df Residuals:                  452048   BIC:                         9.395e+06
Df Model:                          39
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Total_stops            -1661.0393      9.982   -166.408      0.000   -1680.603   -1641.475
Duration_in_hours         68.9214      1.970     34.994      0.000      65.061      72.782
Days_left              -1053.8999     16.921    -62.284      0.000   -1087.064   -1020.736
Day                      932.5462     17.120     54.472      0.000     898.992     966.100
Month                   2.717e+04    507.986     53.493      0.000    2.62e+04    2.82e+04
Year                       4.9320      0.376     13.109      0.000       4.195       5.669
Class_Economy          -3.965e+04     30.159  -1314.791      0.000   -3.97e+04   -3.96e+04
Class_First             1.805e+04    658.088     27.431      0.000    1.68e+04    1.93e+04
Class_Premium Economy  -3.679e+04     39.120   -940.361      0.000   -3.69e+04   -3.67e+04
Source_Bangalore         831.5436     48.189     17.256      0.000     737.095     925.992
Source_Chennai           770.1630     50.910     15.128      0.000     670.382     869.944
Source_Delhi           -1201.1476     46.758    -25.689      0.000   -1292.791   -1109.504
Source_Hyderabad        -210.5626     50.481     -4.171      0.000    -309.504    -111.622
Source_Kolkata          4220.3345     50.670     83.291      0.000    4121.023    4319.646
Source_Mumbai           1098.4994     47.314     23.217      0.000    1005.766    1191.233
Airline_AirAsia        -1503.0576     69.573    -21.604      0.000   -1639.419   -1366.696
Airline_AkasaAir         792.2770    173.042      4.579      0.000     453.121    1131.433
Airline_AllianceAir      881.1244    399.612      2.205      0.027      97.897    1664.352
Airline_GO FIRST         292.0876     81.766      3.572      0.000     131.829     452.347
Airline_Indigo            78.9067     44.971      1.755      0.079      -9.235     167.048
Airline_SpiceJet        -197.7223    106.601     -1.855      0.064    -406.657      11.212
Airline_StarAir         4984.4418   1001.297      4.978      0.000    3021.931    6946.952
Airline_Vistara         4048.6573     30.474    132.857      0.000    3988.929    4108.385
Journey_day_Monday        43.5185     42.955      1.013      0.311     -40.673     127.710
Journey_day_Saturday     109.8809     44.353      2.477      0.013      22.951     196.810
Journey_day_Sunday       563.7751     44.519     12.664      0.000     476.519     651.031
Journey_day_Thursday    -337.4135     44.045     -7.661      0.000    -423.740    -251.087
Journey_day_Tuesday     -333.8952     44.790     -7.455      0.000    -421.682    -246.108
Journey_day_Wednesday     23.7007     44.255      0.536      0.592     -63.038     110.440
Destination_Bangalore   1975.4547     38.195     51.721      0.000    1900.595    2050.315
Destination_Chennai     2557.8488     40.963     62.443      0.000    2477.563    2638.135
Destination_Hyderabad    807.7383     39.575     20.411      0.000     730.173     885.303
Destination_Kolkata     4767.0439     41.426    115.075      0.000    4685.851    4848.237
Destination_Mumbai      2437.2634     36.384     66.987      0.000    2365.952    2508.575
Total_stops_encoded    -1661.0393      9.982   -166.408      0.000   -1680.603   -1641.475
Arrival_Before 6 AM    -1728.2014     49.958    -34.593      0.000   -1826.118   -1630.285
Arrival_12 PM - 6 PM      59.4363     30.974      1.919      0.055      -1.271     120.144
Arrival_6 AM - 12 PM   -1893.0104     29.587    -63.980      0.000   -1951.001   -1835.020
Departure_Before 6 AM   -369.2811     58.011     -6.366      0.000    -482.981    -255.581
Departure_12 PM - 6 PM   210.1182     33.101      6.348      0.000     145.242     274.994
Departure_6 AM - 12 PM   246.0857     29.932      8.221      0.000     187.420     304.751
==============================================================================
Omnibus:                   120602.834   Durbin-Watson:                   0.315
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           918307.334
Skew:                           1.079   Prob(JB):                         0.00
Kurtosis:                       9.641   Cond. No.                     1.83e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.53e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

We didnt see any changes lets try droppping another values with highest p now

In [214]:
def extract_features_above_threshold(model, threshold=0.05):
    """
    Extract features with p-values greater than a specified threshold from the model.

    Args:
    - model: Fitted statsmodels regression model.
    - threshold (float): Threshold for p-values. Default is 0.05.

    Returns:
    - features_above_threshold: Series containing features with p-values greater than the threshold.
    """
    # Extract p-values
    p_values = model.pvalues

    # Filter features with p-values greater than the threshold
    features_above_threshold = p_values[p_values > threshold]

    return features_above_threshold

# Usage example
features_above_threshold = extract_features_above_threshold(model)
print("Features with p-value greater than 0.05:")
print(features_above_threshold)

Features with p-value greater than 0.05:
Airline_Indigo           0.079326
Airline_SpiceJet         0.063627
Journey_day_Monday       0.311009
Journey_day_Wednesday    0.592274
Arrival_12 PM - 6 PM     0.054994
dtype: float64

In [215]:
# Drop the 'Journey_day_Wednesday' column as it has the highest value of p
X = X.drop(columns=['Journey_day_Wednesday'])

In [216]:
X = sm.add_constant(X)
model = sm.OLS(y, X).fit()

In [217]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Fare   R-squared:                       0.850
Model:                            OLS   Adj. R-squared:                  0.850
Method:                 Least Squares   F-statistic:                 6.721e+04
Date:                Wed, 22 May 2024   Prob (F-statistic):               0.00
Time:                        19:59:38   Log-Likelihood:            -4.6974e+06
No. Observations:              452088   AIC:                         9.395e+06
Df Residuals:                  452049   BIC:                         9.395e+06
Df Model:                          38
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Total_stops            -1661.0361      9.982   -166.408      0.000   -1680.600   -1641.472
Duration_in_hours         68.9226      1.970     34.994      0.000      65.062      72.783
Days_left              -1053.8709     16.921    -62.283      0.000   -1087.035   -1020.707
Day                      932.4346     17.118     54.470      0.000     898.883     965.986
Month                   2.717e+04    507.977     53.491      0.000    2.62e+04    2.82e+04
Year                       4.9397      0.376     13.139      0.000       4.203       5.677
Class_Economy          -3.965e+04     30.159  -1314.799      0.000   -3.97e+04   -3.96e+04
Class_First             1.805e+04    658.087     27.431      0.000    1.68e+04    1.93e+04
Class_Premium Economy  -3.679e+04     39.120   -940.370      0.000   -3.69e+04   -3.67e+04
Source_Bangalore         831.5662     48.189     17.256      0.000     737.118     926.015
Source_Chennai           770.2262     50.909     15.129      0.000     670.445     870.007
Source_Delhi           -1201.0868     46.757    -25.688      0.000   -1292.730   -1109.444
Source_Hyderabad        -210.6010     50.481     -4.172      0.000    -309.542    -111.660
Source_Kolkata          4220.4061     50.670     83.292      0.000    4121.095    4319.717
Source_Mumbai           1098.5337     47.313     23.218      0.000    1005.801    1191.267
Airline_AirAsia        -1503.0180     69.573    -21.603      0.000   -1639.380   -1366.656
Airline_AkasaAir         792.0985    173.041      4.578      0.000     452.943    1131.254
Airline_AllianceAir      880.9641    399.612      2.205      0.027      97.737    1664.191
Airline_GO FIRST         291.9700     81.766      3.571      0.000     131.712     452.228
Airline_Indigo            78.8577     44.971      1.754      0.080      -9.284     166.999
Airline_SpiceJet        -197.9058    106.600     -1.857      0.063    -406.839      11.027
Airline_StarAir         4985.7543   1001.293      4.979      0.000    3023.251    6948.257
Airline_Vistara         4048.6089     30.474    132.856      0.000    3988.881    4108.337
Journey_day_Monday        31.9361     37.114      0.860      0.390     -40.806     104.678
Journey_day_Saturday      98.2242     38.644      2.542      0.011      22.483     173.966
Journey_day_Sunday       552.1948     38.915     14.190      0.000     475.922     628.467
Journey_day_Thursday    -349.2336     38.116     -9.162      0.000    -423.940    -274.528
Journey_day_Tuesday     -345.3850     39.317     -8.785      0.000    -422.445    -268.325
Destination_Bangalore   1975.5196     38.194     51.723      0.000    1900.660    2050.379
Destination_Chennai     2557.8354     40.963     62.443      0.000    2477.549    2638.121
Destination_Hyderabad    807.7638     39.574     20.411      0.000     730.199     885.329
Destination_Kolkata     4767.0696     41.426    115.075      0.000    4685.877    4848.262
Destination_Mumbai      2437.2673     36.384     66.987      0.000    2365.956    2508.579
Total_stops_encoded    -1661.0361      9.982   -166.408      0.000   -1680.600   -1641.472
Arrival_Before 6 AM    -1728.1980     49.958    -34.593      0.000   -1826.114   -1630.282
Arrival_12 PM - 6 PM      59.4307     30.974      1.919      0.055      -1.277     120.138
Arrival_6 AM - 12 PM   -1893.0309     29.587    -63.981      0.000   -1951.021   -1835.041
Departure_Before 6 AM   -369.1776     58.011     -6.364      0.000    -482.877    -255.478
Departure_12 PM - 6 PM   210.0422     33.100      6.346      0.000     145.167     274.918
Departure_6 AM - 12 PM   246.1095     29.932      8.222      0.000     187.444     304.775
==============================================================================
Omnibus:                   120607.137   Durbin-Watson:                   0.315
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           918369.133
Skew:                           1.079   Prob(JB):                         0.00
Kurtosis:                       9.641   Cond. No.                     1.83e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.53e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

Still No Effect, Let's repeat this process till we see any changes or we have all values less than 0.05

In [218]:
 def extract_features_above_threshold(model, threshold=0.05):
    """
    Extract features with p-values greater than a specified threshold from the model.

    Args:
    - model: Fitted statsmodels regression model.
    - threshold (float): Threshold for p-values. Default is 0.05.

    Returns:
    - features_above_threshold: Series containing features with p-values greater than the threshold.
    """
    # Extract p-values
    p_values = model.pvalues

    # Filter features with p-values greater than the threshold
    features_above_threshold = p_values[p_values > threshold]

    return features_above_threshold

# Usage example
features_above_threshold = extract_features_above_threshold(model)
print("Features with p-value greater than 0.05:")
print(features_above_threshold)

Features with p-value greater than 0.05:
Airline_Indigo          0.079512
Airline_SpiceJet        0.063380
Journey_day_Monday      0.389517
Arrival_12 PM - 6 PM    0.055017
dtype: float64

We see this time "Journey_day_Monday" has highest p value

In [219]:
# Drop the 'Journey_day_Monday' column as it has the highest value of p
X = X.drop(columns=['Journey_day_Monday'])

In [220]:
X = sm.add_constant(X)
model = sm.OLS(y, X).fit()

In [221]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Fare   R-squared:                       0.850
Model:                            OLS   Adj. R-squared:                  0.850
Method:                 Least Squares   F-statistic:                 6.903e+04
Date:                Wed, 22 May 2024   Prob (F-statistic):               0.00
Time:                        20:01:26   Log-Likelihood:            -4.6974e+06
No. Observations:              452088   AIC:                         9.395e+06
Df Residuals:                  452050   BIC:                         9.395e+06
Df Model:                          37
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Total_stops            -1661.0287      9.982   -166.407      0.000   -1680.593   -1641.465
Duration_in_hours         68.9197      1.970     34.993      0.000      65.060      72.780
Days_left              -1054.3955     16.910    -62.354      0.000   -1087.538   -1021.253
Day                      933.1798     17.097     54.583      0.000     899.671     966.689
Month                   2.719e+04    507.593     53.565      0.000    2.62e+04    2.82e+04
Year                       4.9311      0.376     13.121      0.000       4.194       5.668
Class_Economy          -3.965e+04     30.159  -1314.810      0.000   -3.97e+04   -3.96e+04
Class_First             1.805e+04    658.086     27.433      0.000    1.68e+04    1.93e+04
Class_Premium Economy  -3.679e+04     39.120   -940.372      0.000   -3.69e+04   -3.67e+04
Source_Bangalore         831.5001     48.189     17.255      0.000     737.052     925.949
Source_Chennai           770.2244     50.909     15.129      0.000     670.444     870.005
Source_Delhi           -1201.0011     46.757    -25.686      0.000   -1292.644   -1109.358
Source_Hyderabad        -210.7415     50.481     -4.175      0.000    -309.682    -111.801
Source_Kolkata          4220.4733     50.670     83.294      0.000    4121.162    4319.784
Source_Mumbai           1098.6574     47.313     23.221      0.000    1005.925    1191.390
Airline_AirAsia        -1502.9434     69.573    -21.602      0.000   -1639.305   -1366.582
Airline_AkasaAir         792.1548    173.041      4.578      0.000     453.000    1131.310
Airline_AllianceAir      881.2146    399.612      2.205      0.027      97.988    1664.441
Airline_GO FIRST         292.1863     81.765      3.573      0.000     131.929     452.444
Airline_Indigo            78.9144     44.971      1.755      0.079      -9.227     167.056
Airline_SpiceJet        -197.8021    106.600     -1.856      0.064    -406.735      11.131
Airline_StarAir         4984.6448   1001.292      4.978      0.000    3022.144    6947.146
Airline_Vistara         4048.6580     30.474    132.858      0.000    3988.931    4108.386
Journey_day_Saturday      86.4909     36.159      2.392      0.017      15.621     157.361
Journey_day_Sunday       540.2611     36.360     14.859      0.000     468.996     611.526
Journey_day_Thursday    -360.5203     35.788    -10.074      0.000    -430.664    -290.377
Journey_day_Tuesday     -357.6830     36.628     -9.765      0.000    -429.472    -285.894
Destination_Bangalore   1975.6176     38.194     51.726      0.000    1900.758    2050.477
Destination_Chennai     2557.9174     40.963     62.445      0.000    2477.632    2638.203
Destination_Hyderabad    807.9329     39.574     20.416      0.000     730.369     885.497
Destination_Kolkata     4767.1655     41.425    115.078      0.000    4685.973    4848.358
Destination_Mumbai      2437.4153     36.384     66.992      0.000    2366.104    2508.726
Total_stops_encoded    -1661.0287      9.982   -166.407      0.000   -1680.593   -1641.465
Arrival_Before 6 AM    -1728.1848     49.958    -34.593      0.000   -1826.101   -1630.269
Arrival_12 PM - 6 PM      59.5734     30.973      1.923      0.054      -1.133     120.280
Arrival_6 AM - 12 PM   -1893.0232     29.587    -63.981      0.000   -1951.013   -1835.033
Departure_Before 6 AM   -369.4117     58.010     -6.368      0.000    -483.110    -255.713
Departure_12 PM - 6 PM   210.0021     33.100      6.344      0.000     145.127     274.878
Departure_6 AM - 12 PM   245.8235     29.930      8.213      0.000     187.161     304.486
==============================================================================
Omnibus:                   120614.020   Durbin-Watson:                   0.315
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           918497.376
Skew:                           1.079   Prob(JB):                         0.00
Kurtosis:                       9.641   Cond. No.                     1.73e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.21e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [222]:
 def extract_features_above_threshold(model, threshold=0.05):
    """
    Extract features with p-values greater than a specified threshold from the model.

    Args:
    - model: Fitted statsmodels regression model.
    - threshold (float): Threshold for p-values. Default is 0.05.

    Returns:
    - features_above_threshold: Series containing features with p-values greater than the threshold.
    """
    # Extract p-values
    p_values = model.pvalues

    # Filter features with p-values greater than the threshold
    features_above_threshold = p_values[p_values > threshold]

    return features_above_threshold

# Usage example
features_above_threshold = extract_features_above_threshold(model)
print("Features with p-value greater than 0.05:")
print(features_above_threshold)

Features with p-value greater than 0.05:
Airline_Indigo          0.079295
Airline_SpiceJet        0.063518
Arrival_12 PM - 6 PM    0.054432
dtype: float64

Now drop "Airline_Indigo" as it has highest p value for the remaining values

In [223]:
# Drop the 'Airline_Indigo' column as it has the highest value of p
X = X.drop(columns=['Airline_Indigo'])

In [224]:
X = sm.add_constant(X)
model = sm.OLS(y, X).fit()

In [225]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Fare   R-squared:                       0.850
Model:                            OLS   Adj. R-squared:                  0.850
Method:                 Least Squares   F-statistic:                 7.094e+04
Date:                Wed, 22 May 2024   Prob (F-statistic):               0.00
Time:                        20:01:44   Log-Likelihood:            -4.6974e+06
No. Observations:              452088   AIC:                         9.395e+06
Df Residuals:                  452051   BIC:                         9.395e+06
Df Model:                          36
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Total_stops            -1661.4239      9.979   -166.489      0.000   -1680.983   -1641.865
Duration_in_hours         67.6413      1.830     36.966      0.000      64.055      71.228
Days_left              -1054.6097     16.909    -62.368      0.000   -1087.751   -1021.468
Day                      933.3872     17.096     54.596      0.000     899.879     966.895
Month                   2.719e+04    507.583     53.577      0.000    2.62e+04    2.82e+04
Year                       4.9419      0.376     13.151      0.000       4.205       5.678
Class_Economy          -3.964e+04     28.714  -1380.398      0.000   -3.97e+04   -3.96e+04
Class_First             1.803e+04    657.998     27.408      0.000    1.67e+04    1.93e+04
Class_Premium Economy  -3.678e+04     38.578   -953.281      0.000   -3.69e+04   -3.67e+04
Source_Bangalore         829.5064     48.175     17.218      0.000     735.084     923.929
Source_Chennai           769.2306     50.906     15.111      0.000     669.456     869.005
Source_Delhi           -1204.9322     46.704    -25.799      0.000   -1296.470   -1113.394
Source_Hyderabad        -210.4996     50.480     -4.170      0.000    -309.440    -111.559
Source_Kolkata          4222.6470     50.655     83.362      0.000    4123.365    4321.929
Source_Mumbai           1093.4529     47.220     23.156      0.000    1000.903    1186.003
Airline_AirAsia        -1539.7216     66.342    -23.209      0.000   -1669.749   -1409.694
Airline_AkasaAir         750.2554    171.386      4.378      0.000     414.344    1086.167
Airline_AllianceAir      838.0229    398.854      2.101      0.036      56.282    1619.764
Airline_GO FIRST         257.0566     79.277      3.243      0.001     101.676     412.437
Airline_SpiceJet        -227.5812    105.241     -2.162      0.031    -433.850     -21.312
Airline_StarAir         4942.3280   1001.004      4.937      0.000    2980.392    6904.264
Airline_Vistara         4027.3749     27.956    144.060      0.000    3972.582    4082.168
Journey_day_Saturday      86.8337     36.158      2.401      0.016      15.964     157.703
Journey_day_Sunday       540.6122     36.360     14.868      0.000     469.348     611.876
Journey_day_Thursday    -360.5213     35.788    -10.074      0.000    -430.665    -290.378
Journey_day_Tuesday     -358.0701     36.627     -9.776      0.000    -429.858    -286.282
Destination_Bangalore   1976.8353     38.188     51.766      0.000    1901.988    2051.682
Destination_Chennai     2560.0534     40.945     62.525      0.000    2479.803    2640.304
Destination_Hyderabad    811.1502     39.532     20.519      0.000     733.670     888.631
Destination_Kolkata     4772.6935     41.306    115.546      0.000    4691.736    4853.651
Destination_Mumbai      2435.4145     36.366     66.970      0.000    2364.139    2506.691
Total_stops_encoded    -1661.4239      9.979   -166.489      0.000   -1680.983   -1641.865
Arrival_Before 6 AM    -1717.7006     49.600    -34.631      0.000   -1814.914   -1620.487
Arrival_12 PM - 6 PM      63.0983     30.908      2.041      0.041       2.519     123.677
Arrival_6 AM - 12 PM   -1892.9049     29.587    -63.977      0.000   -1950.895   -1834.915
Departure_Before 6 AM   -362.2859     57.868     -6.261      0.000    -475.705    -248.866
Departure_12 PM - 6 PM   210.4134     33.099      6.357      0.000     145.539     275.287
Departure_6 AM - 12 PM   242.1601     29.857      8.111      0.000     183.641     300.679
==============================================================================
Omnibus:                   120698.037   Durbin-Watson:                   0.315
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           919979.874
Skew:                           1.079   Prob(JB):                         0.00
Kurtosis:                       9.647   Cond. No.                     1.67e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.63e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [229]:
X = X.drop(columns=['Airline_SpiceJet'])
X = X.drop(columns=['Arrival_12 PM - 6 PM'])

In [230]:
X = sm.add_constant(X)
model = sm.OLS(y, X).fit()

In [232]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Fare   R-squared:                       0.850
Model:                            OLS   Adj. R-squared:                  0.850
Method:                 Least Squares   F-statistic:                 7.512e+04
Date:                Wed, 22 May 2024   Prob (F-statistic):               0.00
Time:                        20:04:38   Log-Likelihood:            -4.6974e+06
No. Observations:              452088   AIC:                         9.395e+06
Df Residuals:                  452053   BIC:                         9.395e+06
Df Model:                          34
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Total_stops            -1662.5697      9.972   -166.731      0.000   -1682.114   -1643.026
Duration_in_hours         67.3166      1.826     36.859      0.000      63.737      70.896
Days_left              -1054.7209     16.909    -62.375      0.000   -1087.863   -1021.579
Day                      933.4877     17.096     54.602      0.000     899.980     966.996
Month                    2.72e+04    507.586     53.583      0.000    2.62e+04    2.82e+04
Year                       4.9513      0.376     13.178      0.000       4.215       5.688
Class_Economy          -3.964e+04     28.623  -1384.954      0.000   -3.97e+04   -3.96e+04
Class_First             1.802e+04    657.910     27.385      0.000    1.67e+04    1.93e+04
Class_Premium Economy  -3.678e+04     38.561   -953.749      0.000   -3.69e+04   -3.67e+04
Source_Bangalore         828.9550     48.162     17.212      0.000     734.560     923.350
Source_Chennai           768.1633     50.897     15.092      0.000     668.406     867.920
Source_Delhi           -1207.8325     46.694    -25.867      0.000   -1299.351   -1116.314
Source_Hyderabad        -208.0324     50.451     -4.123      0.000    -306.915    -109.149
Source_Kolkata          4221.3723     50.648     83.347      0.000    4122.103    4320.641
Source_Mumbai           1091.7318     47.200     23.130      0.000     999.221    1184.243
Airline_AirAsia        -1531.4157     66.247    -23.117      0.000   -1661.258   -1401.573
Airline_AkasaAir         767.0708    171.295      4.478      0.000     431.338    1102.804
Airline_AllianceAir      845.5545    398.842      2.120      0.034      63.837    1627.272
Airline_GO FIRST         260.0002     79.106      3.287      0.001     104.954     415.046
Airline_StarAir         4938.2997   1000.997      4.933      0.000    2976.377    6900.223
Airline_Vistara         4033.1407     27.802    145.068      0.000    3978.650    4087.631
Journey_day_Saturday      87.1856     36.158      2.411      0.016      16.317     158.054
Journey_day_Sunday       541.0985     36.359     14.882      0.000     469.835     612.362
Journey_day_Thursday    -360.5714     35.788    -10.075      0.000    -430.715    -290.427
Journey_day_Tuesday     -357.3894     36.626     -9.758      0.000    -429.176    -285.603
Destination_Bangalore   1974.1438     38.114     51.796      0.000    1899.442    2048.845
Destination_Chennai     2556.6299     40.895     62.516      0.000    2476.476    2636.784
Destination_Hyderabad    816.4452     39.484     20.678      0.000     739.057     893.833
Destination_Kolkata     4767.8532     41.197    115.733      0.000    4687.108    4848.598
Destination_Mumbai      2434.6935     36.346     66.986      0.000    2363.456    2505.931
Total_stops_encoded    -1662.5697      9.972   -166.731      0.000   -1682.114   -1643.026
Arrival_Before 6 AM    -1738.0803     48.447    -35.876      0.000   -1833.035   -1643.125
Arrival_6 AM - 12 PM   -1913.6386     27.774    -68.900      0.000   -1968.075   -1859.202
Departure_Before 6 AM   -355.6881     57.824     -6.151      0.000    -469.022    -242.354
Departure_12 PM - 6 PM   205.7338     32.910      6.251      0.000     141.232     270.236
Departure_6 AM - 12 PM   244.3389     29.849      8.186      0.000     185.837     302.841
==============================================================================
Omnibus:                   120695.717   Durbin-Watson:                   0.315
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           919749.398
Skew:                           1.079   Prob(JB):                         0.00
Kurtosis:                       9.646   Cond. No.                     1.61e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.12e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [234]:
# Calculate VIF for each feature
vif_data = pd.DataFrame()
vif_data["Feature"] = X.columns
vif_data["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

# Print the VIF values
print(vif_data)

# Check how many features have VIF values greater than 10
high_vif_features = vif_data[vif_data["VIF"] > 10]
print(f"Number of features with VIF greater than 10: {len(high_vif_features)}")
print(high_vif_features)

/usr/local/lib/python3.10/dist-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

                   Feature          VIF
0              Total_stops          inf
1        Duration_in_hours     1.342628
2                Days_left   426.223334
3                      Day   175.843188
4                    Month   744.641102
5                     Year  4210.917336
6            Class_Economy     1.473128
7              Class_First     1.004592
8    Class_Premium Economy     1.468700
9         Source_Bangalore     2.298631
10          Source_Chennai     2.065289
11            Source_Delhi     2.385373
12        Source_Hyderabad     2.033664
13          Source_Kolkata     2.015463
14           Source_Mumbai     2.381759
15         Airline_AirAsia     1.076514
16        Airline_AkasaAir     1.049735
17     Airline_AllianceAir     1.007045
18        Airline_GO FIRST     1.062256
19         Airline_StarAir     1.001454
20         Airline_Vistara     1.407625
21    Journey_day_Saturday     1.135548
22      Journey_day_Sunday     1.142564
23    Journey_day_Thursday     1.137259
24     Journey_day_Tuesday     1.178969
25   Destination_Bangalore     1.423199
26     Destination_Chennai     1.355018
27   Destination_Hyderabad     1.354484
28     Destination_Kolkata     1.310417
29      Destination_Mumbai     1.443177
30     Total_stops_encoded          inf
31     Arrival_Before 6 AM     1.084970
32    Arrival_6 AM - 12 PM     1.094201
33   Departure_Before 6 AM     1.194469
34  Departure_12 PM - 6 PM     1.503876
35  Departure_6 AM - 12 PM     1.569894
Number of features with VIF greater than 10: 6
                Feature          VIF
0           Total_stops          inf
2             Days_left   426.223334
3                   Day   175.843188
4                 Month   744.641102
5                  Year  4210.917336
30  Total_stops_encoded          inf