In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("/content/flightPrice.csv")

In [3]:
df

,Date_of_journey,Journey_day,Airline,Flight_code,Class,Source,Departure,Total_stops,Arrival,Destination,Duration_in_hours,Days_left,Fare
0,2023-01-16,Monday,SpiceJet,SG-8169,Economy,Delhi,After 6 PM,non-stop,After 6 PM,Mumbai,2.0833,1,5335
1,2023-01-16,Monday,Indigo,6E-2519,Economy,Delhi,After 6 PM,non-stop,Before 6 AM,Mumbai,2.3333,1,5899
2,2023-01-16,Monday,GO FIRST,G8-354,Economy,Delhi,After 6 PM,non-stop,Before 6 AM,Mumbai,2.1667,1,5801
3,2023-01-16,Monday,SpiceJet,SG-8709,Economy,Delhi,After 6 PM,non-stop,After 6 PM,Mumbai,2.0833,1,5794
4,2023-01-16,Monday,Air India,AI-805,Economy,Delhi,After 6 PM,non-stop,After 6 PM,Mumbai,2.1667,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...,...
452083,2023-03-06,Monday,Vistara,UK-926,Business,Ahmedabad,6 AM - 12 PM,1-stop,After 6 PM,Chennai,13.0833,50,65028
452084,2023-03-06,Monday,Vistara,UK-918,Business,Ahmedabad,Before 6 AM,1-stop,12 PM - 6 PM,Chennai,11.2500,50,69254
452085,2023-03-06,Monday,Vistara,UK-918,Business,Ahmedabad,Before 6 AM,1-stop,12 PM - 6 PM,Chennai,11.2500,50,69254
452086,2023-03-06,Monday,Vistara,UK-946,Business,Ahmedabad,6 AM - 12 PM,1-stop,After 6 PM,Chennai,11.1667,50,72980
452087,2023-03-06,Monday,Vistara,UK-946,Business,Ahmedabad,6 AM - 12 PM,1-stop,After 6 PM,Chennai,11.1667,50,72980

In [4]:
df.isnull().sum()

Date_of_journey      0
Journey_day          0
Airline              0
Flight_code          0
Class                0
Source               0
Departure            0
Total_stops          0
Arrival              0
Destination          0
Duration_in_hours    0
Days_left            0
Fare                 0
dtype: int64

In [5]:
df['Date_of_journey'] = pd.to_datetime(df['Date_of_journey'], format='%Y-%m-%d')
df["Day"] = df["Date_of_journey"].dt.day
df["Month"] = df["Date_of_journey"].dt.month
df["Year"] = df["Date_of_journey"].dt.year
df.drop(columns=["Date_of_journey"], inplace=True)

In [6]:
encoder = OneHotEncoder(drop='first', sparse_output=False)

In [7]:
columns_to_encode = ['Class', 'Source','Airline','Journey_day','Destination']

In [8]:
one_hot_encoded_data = encoder.fit_transform(df[columns_to_encode])

In [9]:
one_hot_encoded_df = pd.DataFrame(one_hot_encoded_data, columns=encoder.get_feature_names_out(columns_to_encode))

one_hot_encoded_df.index = df.index

df.drop(columns=columns_to_encode, inplace=True)

df = pd.concat([df, one_hot_encoded_df], axis=1)

In [10]:
label_encoder = LabelEncoder()
df["Total_stops_encoded"] = label_encoder.fit_transform(df["Total_stops"])

df["Total_stops"] = df["Total_stops_encoded"]

In [11]:
df.drop(columns=["Flight_code"], inplace=True)

In [12]:
df["Departure"].unique()

array(['After 6 PM', 'Before 6 AM', '12 PM - 6 PM', '6 AM - 12 PM'],
      dtype=object)

In [13]:
df["Arrival"].unique()

array(['After 6 PM', 'Before 6 AM', '6 AM - 12 PM', '12 PM - 6 PM'],
      dtype=object)

In [14]:
Time_Slots = ['After 6 PM', 'Before 6 AM', '12 PM - 6 PM', '6 AM - 12 PM']

In [15]:
encoder = OneHotEncoder(categories=[Time_Slots,Time_Slots], drop='first', sparse_output=False)

In [16]:
one_hot_encoded_data = encoder.fit_transform(df[['Arrival', 'Departure']])

feature_names = encoder.get_feature_names_out(['Arrival', 'Departure'])

In [17]:
one_hot_encoded_df = pd.DataFrame(one_hot_encoded_data, columns=feature_names)
one_hot_encoded_df.index = df.index

In [18]:
df.drop(columns=['Arrival', 'Departure'], inplace=True)

In [19]:
df = pd.concat([df, one_hot_encoded_df], axis=1)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452088 entries, 0 to 452087
Data columns (total 43 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Total_stops             452088 non-null  int64
 1   Duration_in_hours       452088 non-null  float64
 2   Days_left               452088 non-null  int64
 3   Fare                    452088 non-null  int64
 4   Day                     452088 non-null  int32
 5   Month                   452088 non-null  int32
 6   Year                    452088 non-null  int32
 7   Class_Economy           452088 non-null  float64
 8   Class_First             452088 non-null  float64
 9   Class_Premium Economy   452088 non-null  float64
 10  Source_Bangalore        452088 non-null  float64
 11  Source_Chennai          452088 non-null  float64
 12  Source_Delhi            452088 non-null  float64
 13  Source_Hyderabad        452088 non-null  float64
 14  Source_Kolkata          452088 non-null  float64
 15  Source_Mumbai           452088 non-null  float64
 16  Airline_AirAsia         452088 non-null  float64
 17  Airline_AkasaAir        452088 non-null  float64
 18  Airline_AllianceAir     452088 non-null  float64
 19  Airline_GO FIRST        452088 non-null  float64
 20  Airline_Indigo          452088 non-null  float64
 21  Airline_SpiceJet        452088 non-null  float64
 22  Airline_StarAir         452088 non-null  float64
 23  Airline_Vistara         452088 non-null  float64
 24  Journey_day_Monday      452088 non-null  float64
 25  Journey_day_Saturday    452088 non-null  float64
 26  Journey_day_Sunday      452088 non-null  float64
 27  Journey_day_Thursday    452088 non-null  float64
 28  Journey_day_Tuesday     452088 non-null  float64
 29  Journey_day_Wednesday   452088 non-null  float64
 30  Destination_Bangalore   452088 non-null  float64
 31  Destination_Chennai     452088 non-null  float64
 32  Destination_Delhi       452088 non-null  float64
 33  Destination_Hyderabad   452088 non-null  float64
 34  Destination_Kolkata     452088 non-null  float64
 35  Destination_Mumbai      452088 non-null  float64
 36  Total_stops_encoded     452088 non-null  int64
 37  Arrival_Before 6 AM     452088 non-null  float64
 38  Arrival_12 PM - 6 PM    452088 non-null  float64
 39  Arrival_6 AM - 12 PM    452088 non-null  float64
 40  Departure_Before 6 AM   452088 non-null  float64
 41  Departure_12 PM - 6 PM  452088 non-null  float64
 42  Departure_6 AM - 12 PM  452088 non-null  float64
dtypes: float64(36), int32(3), int64(4)
memory usage: 143.1 MB

In [22]:
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [23]:
y = df['Fare']
X = df.drop(columns=['Fare'])

In [24]:
X = sm.add_constant(X)

In [25]:
model = sm.OLS(y, X).fit()

In [27]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Fare   R-squared:                       0.850
Model:                            OLS   Adj. R-squared:                  0.850
Method:                 Least Squares   F-statistic:                 6.385e+04
Date:                Wed, 15 May 2024   Prob (F-statistic):               0.00
Time:                        19:47:32   Log-Likelihood:            -4.6974e+06
No. Observations:              452088   AIC:                         9.395e+06
Df Residuals:                  452047   BIC:                         9.395e+06
Df Model:                          40
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Total_stops            -1661.0606      9.986   -166.333      0.000   -1680.633   -1641.488
Duration_in_hours         68.9319      1.975     34.900      0.000      65.061      72.803
Days_left              -1053.8873     16.922    -62.280      0.000   -1087.054   -1020.721
Day                      932.5345     17.121     54.469      0.000     898.979     966.090
Month                   2.717e+04    508.011     53.489      0.000    2.62e+04    2.82e+04
Year                       4.9310      0.377     13.097      0.000       4.193       5.669
Class_Economy          -3.965e+04     30.163  -1314.646      0.000   -3.97e+04   -3.96e+04
Class_First             1.805e+04    658.106     27.430      0.000    1.68e+04    1.93e+04
Class_Premium Economy  -3.679e+04     39.124   -940.269      0.000   -3.69e+04   -3.67e+04
Source_Bangalore         831.7001     48.241     17.241      0.000     737.150     926.250
Source_Chennai           770.3576     50.985     15.109      0.000     670.428     870.287
Source_Delhi           -1200.6166     47.367    -25.347      0.000   -1293.454   -1107.780
Source_Hyderabad        -210.3223     50.597     -4.157      0.000    -309.491    -111.154
Source_Kolkata          4220.5285     50.745     83.171      0.000    4121.069    4319.988
Source_Mumbai           1098.7692     47.470     23.147      0.000    1005.730    1191.808
Airline_AirAsia        -1503.2467     69.626    -21.590      0.000   -1639.711   -1366.782
Airline_AkasaAir         792.7544    173.176      4.578      0.000     453.335    1132.173
Airline_AllianceAir      881.4545    399.640      2.206      0.027      98.171    1664.738
Airline_GO FIRST         291.9297     81.797      3.569      0.000     131.610     452.250
Airline_Indigo            79.0845     45.042      1.756      0.079      -9.197     167.366
Airline_SpiceJet        -197.8752    106.623     -1.856      0.063    -406.853      11.103
Airline_StarAir         4984.8934   1001.318      4.978      0.000    3022.340    6947.447
Airline_Vistara         4048.7357     30.494    132.770      0.000    3988.968    4108.504
Journey_day_Monday        43.5150     42.956      1.013      0.311     -40.676     127.706
Journey_day_Saturday     109.8899     44.353      2.478      0.013      22.960     196.820
Journey_day_Sunday       563.7660     44.519     12.663      0.000     476.509     651.023
Journey_day_Thursday    -337.3919     44.046     -7.660      0.000    -423.721    -251.063
Journey_day_Tuesday     -333.8940     44.790     -7.455      0.000    -421.681    -246.107
Journey_day_Wednesday     23.6959     44.255      0.535      0.592     -63.043     110.435
Destination_Bangalore   1977.5339     48.350     40.900      0.000    1882.769    2072.299
Destination_Chennai     2559.9141     50.449     50.742      0.000    2461.035    2658.793
Destination_Delhi          3.3814     48.214      0.070      0.944     -91.116      97.879
Destination_Hyderabad    809.8314     49.567     16.338      0.000     712.682     906.981
Destination_Kolkata     4769.1190     50.907     93.683      0.000    4669.343    4868.895
Destination_Mumbai      2439.3835     47.304     51.568      0.000    2346.669    2532.098
Total_stops_encoded    -1661.0606      9.986   -166.333      0.000   -1680.633   -1641.488
Arrival_Before 6 AM    -1728.4749     50.110    -34.494      0.000   -1826.689   -1630.261
Arrival_12 PM - 6 PM      59.3435     31.002      1.914      0.056      -1.419     120.106
Arrival_6 AM - 12 PM   -1893.0021     29.588    -63.979      0.000   -1950.993   -1835.011
Departure_Before 6 AM   -369.4529     58.063     -6.363      0.000    -483.255    -255.651
Departure_12 PM - 6 PM   210.1227     33.101      6.348      0.000     145.246     274.999
Departure_6 AM - 12 PM   246.0959     29.932      8.222      0.000     187.429     304.762
==============================================================================
Omnibus:                   120605.513   Durbin-Watson:                   0.315
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           918319.792
Skew:                           1.079   Prob(JB):                         0.00
Kurtosis:                       9.641   Cond. No.                     1.86e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.38e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [ ]:
vif_data = pd.DataFrame()
vif_data["Feature"] = X.columns
vif_data["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

print(vif_data)

/usr/local/lib/python3.10/dist-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

                   Feature          VIF
0              Total_stops          inf
1        Duration_in_hours     1.546832
2                Days_left   440.772500
3                      Day   180.108547
4                    Month   762.605719
5                     Year  4366.172016
6            Class_Economy     1.621059
7              Class_First     1.009719
8    Class_Premium Economy     1.518138
9            Source_Mumbai     2.039708
10         Airline_AirAsia     1.211347
11        Airline_AkasaAir     1.055716
12     Airline_AllianceAir     1.010377
13        Airline_GO FIRST     1.184740
14          Airline_Indigo     1.671787
15        Airline_SpiceJet     1.079709
16         Airline_Vistara     1.693823
17      Journey_day_Monday     1.844968
18    Journey_day_Saturday     1.759478
19      Journey_day_Sunday     1.738156
20    Journey_day_Thursday     1.737067
21     Journey_day_Tuesday     1.797490
22   Journey_day_Wednesday     1.747571
23   Destination_Bangalore     3.872043
24     Destination_Chennai     2.269263
25       Destination_Delhi     3.540524
26   Destination_Hyderabad     3.347413
27     Destination_Kolkata     1.934072
28      Destination_Mumbai     2.666638
29     Total_stops_encoded          inf
30     Arrival_Before 6 AM     1.148855
31    Arrival_12 PM - 6 PM     1.243124
32    Arrival_6 AM - 12 PM     1.279020
33   Departure_Before 6 AM     1.202101
34  Departure_12 PM - 6 PM     1.584737
35  Departure_6 AM - 12 PM     1.617247