In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt|
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [ ]:
df = pd.read_csv("/content/flightPrice.csv")

In [ ]:
df

,Date_of_journey,Journey_day,Airline,Flight_code,Class,Source,Departure,Total_stops,Arrival,Destination,Duration_in_hours,Days_left,Fare
0,2023-01-16,Monday,SpiceJet,SG-8169,Economy,Delhi,After 6 PM,non-stop,After 6 PM,Mumbai,2.0833,1,5335
1,2023-01-16,Monday,Indigo,6E-2519,Economy,Delhi,After 6 PM,non-stop,Before 6 AM,Mumbai,2.3333,1,5899
2,2023-01-16,Monday,GO FIRST,G8-354,Economy,Delhi,After 6 PM,non-stop,Before 6 AM,Mumbai,2.1667,1,5801
3,2023-01-16,Monday,SpiceJet,SG-8709,Economy,Delhi,After 6 PM,non-stop,After 6 PM,Mumbai,2.0833,1,5794
4,2023-01-16,Monday,Air India,AI-805,Economy,Delhi,After 6 PM,non-stop,After 6 PM,Mumbai,2.1667,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...,...
452083,2023-03-06,Monday,Vistara,UK-926,Business,Ahmedabad,6 AM - 12 PM,1-stop,After 6 PM,Chennai,13.0833,50,65028
452084,2023-03-06,Monday,Vistara,UK-918,Business,Ahmedabad,Before 6 AM,1-stop,12 PM - 6 PM,Chennai,11.2500,50,69254
452085,2023-03-06,Monday,Vistara,UK-918,Business,Ahmedabad,Before 6 AM,1-stop,12 PM - 6 PM,Chennai,11.2500,50,69254
452086,2023-03-06,Monday,Vistara,UK-946,Business,Ahmedabad,6 AM - 12 PM,1-stop,After 6 PM,Chennai,11.1667,50,72980
452087,2023-03-06,Monday,Vistara,UK-946,Business,Ahmedabad,6 AM - 12 PM,1-stop,After 6 PM,Chennai,11.1667,50,72980

In [ ]:
df.isnull().sum()

Date_of_journey      0
Journey_day          0
Airline              0
Flight_code          0
Class                0
Source               0
Departure            0
Total_stops          0
Arrival              0
Destination          0
Duration_in_hours    0
Days_left            0
Fare                 0
dtype: int64

In [ ]:
df['Date_of_journey'] = pd.to_datetime(df['Date_of_journey'], format='%Y-%m-%d')
df["Day"] = df["Date_of_journey"].dt.day
df["Month"] = df["Date_of_journey"].dt.month
df["Year"] = df["Date_of_journey"].dt.year
df.drop(columns=["Date_of_journey"], inplace=True)

In [ ]:
encoder = OneHotEncoder(drop='first', sparse_output=False)

In [ ]:
columns_to_encode = ['Class', 'Source','Airline','Journey_day','Destination']

In [ ]:
one_hot_encoded_data = encoder.fit_transform(df[columns_to_encode])

In [ ]:
one_hot_encoded_df = pd.DataFrame(one_hot_encoded_data, columns=encoder.get_feature_names_out(columns_to_encode))

one_hot_encoded_df.index = df.index

df.drop(columns=columns_to_encode, inplace=True)

df = pd.concat([df, one_hot_encoded_df], axis=1)

In [ ]:
label_encoder = LabelEncoder()
df["Total_stops_encoded"] = label_encoder.fit_transform(df["Total_stops"])

df["Total_stops"] = df["Total_stops_encoded"]

In [ ]:
df.drop(columns=["Flight_code"], inplace=True)

In [ ]:
df["Departure"].unique()

array(['After 6 PM', 'Before 6 AM', '12 PM - 6 PM', '6 AM - 12 PM'],
      dtype=object)

In [ ]:
df["Arrival"].unique()

array(['After 6 PM', 'Before 6 AM', '6 AM - 12 PM', '12 PM - 6 PM'],
      dtype=object)

In [ ]:
Time_Slots = ['After 6 PM', 'Before 6 AM', '12 PM - 6 PM', '6 AM - 12 PM']

In [ ]:
encoder = OneHotEncoder(categories=[Time_Slots,Time_Slots], drop='first', sparse_output=False)

In [ ]:
one_hot_encoded_data = encoder.fit_transform(df[['Arrival', 'Departure']])

feature_names = encoder.get_feature_names_out(['Arrival', 'Departure'])

In [ ]:
one_hot_encoded_df = pd.DataFrame(one_hot_encoded_data, columns=feature_names)
one_hot_encoded_df.index = df.index

In [ ]:
df.drop(columns=['Arrival', 'Departure'], inplace=True)

In [ ]:
df = pd.concat([df, one_hot_encoded_df], axis=1)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452088 entries, 0 to 452087
Data columns (total 43 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Total_stops             452088 non-null  int64
 1   Duration_in_hours       452088 non-null  float64
 2   Days_left               452088 non-null  int64
 3   Fare                    452088 non-null  int64
 4   Day                     452088 non-null  int32
 5   Month                   452088 non-null  int32
 6   Year                    452088 non-null  int32
 7   Class_Economy           452088 non-null  float64
 8   Class_First             452088 non-null  float64
 9   Class_Premium Economy   452088 non-null  float64
 10  Source_Bangalore        452088 non-null  float64
 11  Source_Chennai          452088 non-null  float64
 12  Source_Delhi            452088 non-null  float64
 13  Source_Hyderabad        452088 non-null  float64
 14  Source_Kolkata          452088 non-null  float64
 15  Source_Mumbai           452088 non-null  float64
 16  Airline_AirAsia         452088 non-null  float64
 17  Airline_AkasaAir        452088 non-null  float64
 18  Airline_AllianceAir     452088 non-null  float64
 19  Airline_GO FIRST        452088 non-null  float64
 20  Airline_Indigo          452088 non-null  float64
 21  Airline_SpiceJet        452088 non-null  float64
 22  Airline_StarAir         452088 non-null  float64
 23  Airline_Vistara         452088 non-null  float64
 24  Journey_day_Monday      452088 non-null  float64
 25  Journey_day_Saturday    452088 non-null  float64
 26  Journey_day_Sunday      452088 non-null  float64
 27  Journey_day_Thursday    452088 non-null  float64
 28  Journey_day_Tuesday     452088 non-null  float64
 29  Journey_day_Wednesday   452088 non-null  float64
 30  Destination_Bangalore   452088 non-null  float64
 31  Destination_Chennai     452088 non-null  float64
 32  Destination_Delhi       452088 non-null  float64
 33  Destination_Hyderabad   452088 non-null  float64
 34  Destination_Kolkata     452088 non-null  float64
 35  Destination_Mumbai      452088 non-null  float64
 36  Total_stops_encoded     452088 non-null  int64
 37  Arrival_Before 6 AM     452088 non-null  float64
 38  Arrival_12 PM - 6 PM    452088 non-null  float64
 39  Arrival_6 AM - 12 PM    452088 non-null  float64
 40  Departure_Before 6 AM   452088 non-null  float64
 41  Departure_12 PM - 6 PM  452088 non-null  float64
 42  Departure_6 AM - 12 PM  452088 non-null  float64
dtypes: float64(36), int32(3), int64(4)
memory usage: 143.1 MB

In [ ]:
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [ ]:
y = df['Fare']
X = df.drop(columns=['Fare'])

In [ ]:
X = sm.add_constant(X)

In [ ]:
model = sm.OLS(y, X).fit()

In [ ]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Fare   R-squared:                       0.850
Model:                            OLS   Adj. R-squared:                  0.850
Method:                 Least Squares   F-statistic:                 6.385e+04
Date:                Wed, 29 May 2024   Prob (F-statistic):               0.00
Time:                        17:00:10   Log-Likelihood:            -4.6974e+06
No. Observations:              452088   AIC:                         9.395e+06
Df Residuals:                  452047   BIC:                         9.395e+06
Df Model:                          40
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Total_stops            -1661.0606      9.986   -166.333      0.000   -1680.633   -1641.488
Duration_in_hours         68.9319      1.975     34.900      0.000      65.061      72.803
Days_left              -1053.8873     16.922    -62.280      0.000   -1087.054   -1020.721
Day                      932.5345     17.121     54.469      0.000     898.979     966.090
Month                   2.717e+04    508.011     53.489      0.000    2.62e+04    2.82e+04
Year                       4.9310      0.377     13.097      0.000       4.193       5.669
Class_Economy          -3.965e+04     30.163  -1314.646      0.000   -3.97e+04   -3.96e+04
Class_First             1.805e+04    658.106     27.430      0.000    1.68e+04    1.93e+04
Class_Premium Economy  -3.679e+04     39.124   -940.269      0.000   -3.69e+04   -3.67e+04
Source_Bangalore         831.7001     48.241     17.241      0.000     737.150     926.250
Source_Chennai           770.3576     50.985     15.109      0.000     670.428     870.287
Source_Delhi           -1200.6166     47.367    -25.347      0.000   -1293.454   -1107.780
Source_Hyderabad        -210.3223     50.597     -4.157      0.000    -309.491    -111.154
Source_Kolkata          4220.5285     50.745     83.171      0.000    4121.069    4319.988
Source_Mumbai           1098.7692     47.470     23.147      0.000    1005.730    1191.808
Airline_AirAsia        -1503.2467     69.626    -21.590      0.000   -1639.711   -1366.782
Airline_AkasaAir         792.7544    173.176      4.578      0.000     453.335    1132.173
Airline_AllianceAir      881.4545    399.640      2.206      0.027      98.171    1664.738
Airline_GO FIRST         291.9297     81.797      3.569      0.000     131.610     452.250
Airline_Indigo            79.0845     45.042      1.756      0.079      -9.197     167.366
Airline_SpiceJet        -197.8752    106.623     -1.856      0.063    -406.853      11.103
Airline_StarAir         4984.8934   1001.318      4.978      0.000    3022.340    6947.447
Airline_Vistara         4048.7357     30.494    132.770      0.000    3988.968    4108.504
Journey_day_Monday        43.5150     42.956      1.013      0.311     -40.676     127.706
Journey_day_Saturday     109.8899     44.353      2.478      0.013      22.960     196.820
Journey_day_Sunday       563.7660     44.519     12.663      0.000     476.509     651.023
Journey_day_Thursday    -337.3919     44.046     -7.660      0.000    -423.721    -251.063
Journey_day_Tuesday     -333.8940     44.790     -7.455      0.000    -421.681    -246.107
Journey_day_Wednesday     23.6959     44.255      0.535      0.592     -63.043     110.435
Destination_Bangalore   1977.5339     48.350     40.900      0.000    1882.769    2072.299
Destination_Chennai     2559.9141     50.449     50.742      0.000    2461.035    2658.793
Destination_Delhi          3.3814     48.214      0.070      0.944     -91.116      97.879
Destination_Hyderabad    809.8314     49.567     16.338      0.000     712.682     906.981
Destination_Kolkata     4769.1190     50.907     93.683      0.000    4669.343    4868.895
Destination_Mumbai      2439.3835     47.304     51.568      0.000    2346.669    2532.098
Total_stops_encoded    -1661.0606      9.986   -166.333      0.000   -1680.633   -1641.488
Arrival_Before 6 AM    -1728.4749     50.110    -34.494      0.000   -1826.689   -1630.261
Arrival_12 PM - 6 PM      59.3435     31.002      1.914      0.056      -1.419     120.106
Arrival_6 AM - 12 PM   -1893.0021     29.588    -63.979      0.000   -1950.993   -1835.011
Departure_Before 6 AM   -369.4529     58.063     -6.363      0.000    -483.255    -255.651
Departure_12 PM - 6 PM   210.1227     33.101      6.348      0.000     145.246     274.999
Departure_6 AM - 12 PM   246.0959     29.932      8.222      0.000     187.429     304.762
==============================================================================
Omnibus:                   120605.513   Durbin-Watson:                   0.315
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           918319.792
Skew:                           1.079   Prob(JB):                         0.00
Kurtosis:                       9.641   Cond. No.                     1.86e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.38e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [ ]:
vif_data = pd.DataFrame()
vif_data["Feature"] = X.columns
vif_data["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
print(vif_data)

/usr/local/lib/python3.10/dist-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

                   Feature          VIF
0              Total_stops          inf
1        Duration_in_hours     1.570360
2                Days_left   426.854725
3                      Day   176.346354
4                    Month   745.900733
5                     Year  4228.517933
6            Class_Economy     1.635916
7              Class_First     1.005208
8    Class_Premium Economy     1.511946
9         Source_Bangalore     2.306218
10          Source_Chennai     2.072468
11            Source_Delhi     2.454650
12        Source_Hyderabad     2.045468
13          Source_Kolkata     2.023243
14           Source_Mumbai     2.409069
15         Airline_AirAsia     1.189139
16        Airline_AkasaAir     1.072930
17     Airline_AllianceAir     1.011099
18        Airline_GO FIRST     1.135770
19          Airline_Indigo     1.835800
20        Airline_SpiceJet     1.060705
21         Airline_StarAir     1.002113
22         Airline_Vistara     1.693526
23      Journey_day_Monday     1.805282
24    Journey_day_Saturday     1.708611
25      Journey_day_Sunday     1.712987
26    Journey_day_Thursday     1.722659
27     Journey_day_Tuesday     1.763111
28   Journey_day_Wednesday     1.727589
29   Destination_Bangalore     2.290396
30     Destination_Chennai     2.062110
31       Destination_Delhi     2.412535
32   Destination_Hyderabad     2.134565
33     Destination_Kolkata     2.000942
34      Destination_Mumbai     2.444540
35     Total_stops_encoded          inf
36     Arrival_Before 6 AM     1.160752
37    Arrival_12 PM - 6 PM     1.218973
38    Arrival_6 AM - 12 PM     1.241788
39   Departure_Before 6 AM     1.204366
40  Departure_12 PM - 6 PM     1.521414
41  Departure_6 AM - 12 PM     1.578744

In [ ]:
# Extract p-values
p_values = model.pvalues

In [ ]:
threshold = 0.05

In [ ]:
features_above_threshold = p_values[p_values > threshold]

In [ ]:
print("Features with p-value greater than 0.05:")
print(features_above_threshold)

Features with p-value greater than 0.05:
Airline_Indigo           0.079127
Airline_SpiceJet         0.063478
Journey_day_Monday       0.311049
Journey_day_Wednesday    0.592350
Destination_Delhi        0.944088
Arrival_12 PM - 6 PM     0.055597
dtype: float64

In [ ]:
X = X.drop(columns=['Destination_Delhi'])
X = X.drop(columns=['Journey_day_Wednesday'])
X = X.drop(columns=['Journey_day_Monday'])
X = X.drop(columns=['Airline_Indigo'])
X = X.drop(columns=['Airline_SpiceJet'])
X = X.drop(columns=['Arrival_12 PM - 6 PM'])

In the earlier file we checked the model summary after dropping each value one by one, and we the results.
So to make the results simpler let's just drop all 6 values at once and then check the overall effect then head to the VIF values.

In [ ]:
# Add a constant term to the feature matrix
X = sm.add_constant(X)
model = sm.OLS(y, X).fit()

In [ ]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Fare   R-squared:                       0.850
Model:                            OLS   Adj. R-squared:                  0.850
Method:                 Least Squares   F-statistic:                 7.512e+04
Date:                Wed, 29 May 2024   Prob (F-statistic):               0.00
Time:                        17:02:22   Log-Likelihood:            -4.6974e+06
No. Observations:              452088   AIC:                         9.395e+06
Df Residuals:                  452053   BIC:                         9.395e+06
Df Model:                          34
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Total_stops            -1662.5697      9.972   -166.731      0.000   -1682.114   -1643.026
Duration_in_hours         67.3166      1.826     36.859      0.000      63.737      70.896
Days_left              -1054.7209     16.909    -62.375      0.000   -1087.863   -1021.579
Day                      933.4877     17.096     54.602      0.000     899.980     966.996
Month                    2.72e+04    507.586     53.583      0.000    2.62e+04    2.82e+04
Year                       4.9513      0.376     13.178      0.000       4.215       5.688
Class_Economy          -3.964e+04     28.623  -1384.954      0.000   -3.97e+04   -3.96e+04
Class_First             1.802e+04    657.910     27.385      0.000    1.67e+04    1.93e+04
Class_Premium Economy  -3.678e+04     38.561   -953.749      0.000   -3.69e+04   -3.67e+04
Source_Bangalore         828.9550     48.162     17.212      0.000     734.560     923.350
Source_Chennai           768.1633     50.897     15.092      0.000     668.406     867.920
Source_Delhi           -1207.8325     46.694    -25.867      0.000   -1299.351   -1116.314
Source_Hyderabad        -208.0324     50.451     -4.123      0.000    -306.915    -109.149
Source_Kolkata          4221.3723     50.648     83.347      0.000    4122.103    4320.641
Source_Mumbai           1091.7318     47.200     23.130      0.000     999.221    1184.243
Airline_AirAsia        -1531.4157     66.247    -23.117      0.000   -1661.258   -1401.573
Airline_AkasaAir         767.0708    171.295      4.478      0.000     431.338    1102.804
Airline_AllianceAir      845.5545    398.842      2.120      0.034      63.837    1627.272
Airline_GO FIRST         260.0002     79.106      3.287      0.001     104.954     415.046
Airline_StarAir         4938.2997   1000.997      4.933      0.000    2976.377    6900.223
Airline_Vistara         4033.1407     27.802    145.068      0.000    3978.650    4087.631
Journey_day_Saturday      87.1856     36.158      2.411      0.016      16.317     158.054
Journey_day_Sunday       541.0985     36.359     14.882      0.000     469.835     612.362
Journey_day_Thursday    -360.5714     35.788    -10.075      0.000    -430.715    -290.427
Journey_day_Tuesday     -357.3894     36.626     -9.758      0.000    -429.176    -285.603
Destination_Bangalore   1974.1438     38.114     51.796      0.000    1899.442    2048.845
Destination_Chennai     2556.6299     40.895     62.516      0.000    2476.476    2636.784
Destination_Hyderabad    816.4452     39.484     20.678      0.000     739.057     893.833
Destination_Kolkata     4767.8532     41.197    115.733      0.000    4687.108    4848.598
Destination_Mumbai      2434.6935     36.346     66.986      0.000    2363.456    2505.931
Total_stops_encoded    -1662.5697      9.972   -166.731      0.000   -1682.114   -1643.026
Arrival_Before 6 AM    -1738.0803     48.447    -35.876      0.000   -1833.035   -1643.125
Arrival_6 AM - 12 PM   -1913.6386     27.774    -68.900      0.000   -1968.075   -1859.202
Departure_Before 6 AM   -355.6881     57.824     -6.151      0.000    -469.022    -242.354
Departure_12 PM - 6 PM   205.7338     32.910      6.251      0.000     141.232     270.236
Departure_6 AM - 12 PM   244.3389     29.849      8.186      0.000     185.837     302.841
==============================================================================
Omnibus:                   120695.717   Durbin-Watson:                   0.315
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           919749.398
Skew:                           1.079   Prob(JB):                         0.00
Kurtosis:                       9.646   Cond. No.                     1.61e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.12e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

Just like earlier we didnt see any changes in the R square value.

In [ ]:
# Set a threshold for VIF
vif_threshold = 10

# Identify features with VIF greater than the threshold
features_above_threshold = vif_data[vif_data["VIF"] > vif_threshold]

# Print the features with VIF greater than the threshold
print(f"Features with VIF greater than {vif_threshold}:")
print(features_above_threshold)

Features with VIF greater than 10:
                Feature          VIF
0           Total_stops          inf
2             Days_left   426.854725
3                   Day   176.346354
4                 Month   745.900733
5                  Year  4228.517933
35  Total_stops_encoded          inf

In [ ]:
# Check correlation between 'Total_stops' and 'Total_stops_encoded'
correlation_matrix = X[['Total_stops', 'Total_stops_encoded']].corr()
print("\nCorrelation between 'Total_stops' and 'Total_stops_encoded':")
print(correlation_matrix)

Correlation between 'Total_stops' and 'Total_stops_encoded':
                     Total_stops  Total_stops_encoded
Total_stops                  1.0                  1.0
Total_stops_encoded          1.0                  1.0

In [ ]:
# Decide to drop 'Total_stops_encoded' based on correlation
X_dropped = X.drop(columns=['Total_stops_encoded'])

In [ ]:
# Decide to drop 'Total_stops' based on correlation
X_dropped = X.drop(columns=['Total_stops'])

In [ ]:
model_dropped = sm.OLS(y, X_dropped).fit()
print("\nModel summary after dropping 'Total_stops_encoded':")
print(model_dropped.summary())

Model summary after dropping 'Total_stops_encoded':
                            OLS Regression Results
==============================================================================
Dep. Variable:                   Fare   R-squared:                       0.850
Model:                            OLS   Adj. R-squared:                  0.850
Method:                 Least Squares   F-statistic:                 7.512e+04
Date:                Wed, 29 May 2024   Prob (F-statistic):               0.00
Time:                        17:02:37   Log-Likelihood:            -4.6974e+06
No. Observations:              452088   AIC:                         9.395e+06
Df Residuals:                  452053   BIC:                         9.395e+06
Df Model:                          34
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Duration_in_hours         67.3166      1.826     36.859      0.000      63.737      70.896
Days_left              -1054.7209     16.909    -62.375      0.000   -1087.863   -1021.579
Day                      933.4877     17.096     54.602      0.000     899.980     966.996
Month                    2.72e+04    507.586     53.583      0.000    2.62e+04    2.82e+04
Year                       4.9513      0.376     13.178      0.000       4.215       5.688
Class_Economy          -3.964e+04     28.623  -1384.954      0.000   -3.97e+04   -3.96e+04
Class_First             1.802e+04    657.910     27.385      0.000    1.67e+04    1.93e+04
Class_Premium Economy  -3.678e+04     38.561   -953.749      0.000   -3.69e+04   -3.67e+04
Source_Bangalore         828.9550     48.162     17.212      0.000     734.560     923.350
Source_Chennai           768.1633     50.897     15.092      0.000     668.406     867.920
Source_Delhi           -1207.8325     46.694    -25.867      0.000   -1299.351   -1116.314
Source_Hyderabad        -208.0324     50.451     -4.123      0.000    -306.915    -109.149
Source_Kolkata          4221.3723     50.648     83.347      0.000    4122.103    4320.641
Source_Mumbai           1091.7318     47.200     23.130      0.000     999.221    1184.243
Airline_AirAsia        -1531.4157     66.247    -23.117      0.000   -1661.258   -1401.573
Airline_AkasaAir         767.0708    171.295      4.478      0.000     431.338    1102.804
Airline_AllianceAir      845.5545    398.842      2.120      0.034      63.837    1627.272
Airline_GO FIRST         260.0002     79.106      3.287      0.001     104.954     415.046
Airline_StarAir         4938.2997   1000.997      4.933      0.000    2976.377    6900.223
Airline_Vistara         4033.1407     27.802    145.068      0.000    3978.650    4087.631
Journey_day_Saturday      87.1856     36.158      2.411      0.016      16.317     158.054
Journey_day_Sunday       541.0985     36.359     14.882      0.000     469.835     612.362
Journey_day_Thursday    -360.5714     35.788    -10.075      0.000    -430.715    -290.427
Journey_day_Tuesday     -357.3894     36.626     -9.758      0.000    -429.176    -285.603
Destination_Bangalore   1974.1438     38.114     51.796      0.000    1899.442    2048.845
Destination_Chennai     2556.6299     40.895     62.516      0.000    2476.476    2636.784
Destination_Hyderabad    816.4452     39.484     20.678      0.000     739.057     893.833
Destination_Kolkata     4767.8532     41.197    115.733      0.000    4687.108    4848.598
Destination_Mumbai      2434.6935     36.346     66.986      0.000    2363.456    2505.931
Total_stops_encoded    -3325.1395     19.943   -166.731      0.000   -3364.227   -3286.052
Arrival_Before 6 AM    -1738.0803     48.447    -35.876      0.000   -1833.035   -1643.125
Arrival_6 AM - 12 PM   -1913.6386     27.774    -68.900      0.000   -1968.075   -1859.202
Departure_Before 6 AM   -355.6881     57.824     -6.151      0.000    -469.022    -242.354
Departure_12 PM - 6 PM   205.7338     32.910      6.251      0.000     141.232     270.236
Departure_6 AM - 12 PM   244.3389     29.849      8.186      0.000     185.837     302.841
==============================================================================
Omnibus:                   120695.717   Durbin-Watson:                   0.315
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           919749.398
Skew:                           1.079   Prob(JB):                         0.00
Kurtosis:                       9.646   Cond. No.                     1.73e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.73e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
# Identify features with high VIF
high_vif_features = vif_data[vif_data["VIF"] > 10]["Feature"].tolist()

In [ ]:
# Print features with high VIF values
print("\nFeatures with VIF greater than 10:")
print(vif_data[vif_data["VIF"] > 10])

Features with VIF greater than 10:
                Feature          VIF
0           Total_stops          inf
2             Days_left   426.854725
3                   Day   176.346354
4                 Month   745.900733
5                  Year  4228.517933
35  Total_stops_encoded          inf

In [ ]:
# Drop features with high VIF values
X_dropped = X.drop(columns=high_vif_features)

# Recalculate VIF after dropping the features
vif_data_dropped = pd.DataFrame()
vif_data_dropped["Feature"] = X_dropped.columns
vif_data_dropped["VIF"] = [variance_inflation_factor(X_dropped.values, i) for i in range(X_dropped.shape[1])]

# Print the VIF data after dropping the features
print("\nVIF data after dropping high VIF features:")
print(vif_data_dropped)

VIF data after dropping high VIF features:
                   Feature       VIF
0        Duration_in_hours  3.696286
1            Class_Economy  2.885569
2              Class_First  1.002638
3    Class_Premium Economy  1.714656
4         Source_Bangalore  1.908759
5           Source_Chennai  1.722220
6             Source_Delhi  2.135923
7         Source_Hyderabad  1.758137
8           Source_Kolkata  1.779886
9            Source_Mumbai  1.961719
10         Airline_AirAsia  1.114748
11        Airline_AkasaAir  1.028002
12     Airline_AllianceAir  1.005363
13        Airline_GO FIRST  1.079727
14         Airline_StarAir  1.001462
15         Airline_Vistara  2.657961
16    Journey_day_Saturday  1.290306
17      Journey_day_Sunday  1.290045
18    Journey_day_Thursday  1.294593
19     Journey_day_Tuesday  1.293097
20   Destination_Bangalore  1.577419
21     Destination_Chennai  1.459558
22   Destination_Hyderabad  1.485337
23     Destination_Kolkata  1.430448
24      Destination_Mumbai  1.641935
25     Arrival_Before 6 AM  1.126600
26    Arrival_6 AM - 12 PM  1.456050
27   Departure_Before 6 AM  1.154909
28  Departure_12 PM - 6 PM  1.796972
29  Departure_6 AM - 12 PM  2.272537

In [ ]:
# Refit the model with the remaining features
model_dropped = sm.OLS(y, X_dropped).fit()

# Print the updated model summary
print("\nModel summary after dropping high VIF features:")
print(model_dropped.summary())

Model summary after dropping high VIF features:
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                   Fare   R-squared (uncentered):                   0.850
Model:                            OLS   Adj. R-squared (uncentered):              0.850
Method:                 Least Squares   F-statistic:                          8.544e+04
Date:                Wed, 29 May 2024   Prob (F-statistic):                        0.00
Time:                        17:04:09   Log-Likelihood:                     -4.8815e+06
No. Observations:              452088   AIC:                                  9.763e+06
Df Residuals:                  452058   BIC:                                  9.763e+06
Df Model:                          30
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Duration_in_hours        654.5084      2.348    278.778      0.000     649.907     659.110
Class_Economy          -3.264e+04     40.043   -815.092      0.000   -3.27e+04   -3.26e+04
Class_First             2.941e+04    987.475     29.782      0.000    2.75e+04    3.13e+04
Class_Premium Economy  -3.439e+04     57.324   -599.896      0.000   -3.45e+04   -3.43e+04
Source_Bangalore        1.968e+04     60.358    326.092      0.000    1.96e+04    1.98e+04
Source_Chennai          1.952e+04     65.328    298.864      0.000    1.94e+04    1.97e+04
Source_Delhi            1.531e+04     59.978    255.308      0.000    1.52e+04    1.54e+04
Source_Hyderabad        1.761e+04     65.923    267.108      0.000    1.75e+04    1.77e+04
Source_Kolkata          2.107e+04     66.981    314.552      0.000    2.09e+04    2.12e+04
Source_Mumbai           1.975e+04     58.338    338.504      0.000    1.96e+04    1.99e+04
Airline_AirAsia         -975.8181     99.515     -9.806      0.000   -1170.865    -780.771
Airline_AkasaAir        2147.7832    254.085      8.453      0.000    1649.784    2645.783
Airline_AllianceAir     5400.2082    598.550      9.022      0.000    4227.069    6573.348
Airline_GO FIRST        5220.6181    118.403     44.092      0.000    4988.552    5452.684
Airline_StarAir         5347.6888   1504.031      3.556      0.000    2399.835    8295.542
Airline_Vistara         9643.3268     40.100    240.482      0.000    9564.732    9721.921
Journey_day_Saturday    3253.9945     53.763     60.525      0.000    3148.621    3359.368
Journey_day_Sunday      3472.5480     53.916     64.407      0.000    3366.874    3578.222
Journey_day_Thursday    3257.4338     53.147     61.291      0.000    3153.267    3361.600
Journey_day_Tuesday     3409.9680     53.444     63.804      0.000    3305.219    3514.717
Destination_Bangalore   9203.4076     55.260    166.549      0.000    9095.100    9311.715
Destination_Chennai     9681.9309     59.577    162.512      0.000    9565.162    9798.699
Destination_Hyderabad   7378.1291     57.673    127.930      0.000    7265.092    7491.166
Destination_Kolkata     1.067e+04     60.657    175.832      0.000    1.05e+04    1.08e+04
Destination_Mumbai      9121.8520     52.637    173.299      0.000    9018.686    9225.018
Arrival_Before 6 AM     4670.5131     71.613     65.219      0.000    4530.154    4810.872
Arrival_6 AM - 12 PM     373.9321     41.284      9.058      0.000     293.017     454.847
Departure_Before 6 AM   1.178e+04     83.201    141.620      0.000    1.16e+04    1.19e+04
Departure_12 PM - 6 PM  8191.0814     46.623    175.688      0.000    8099.702    8282.461
Departure_6 AM - 12 PM  8450.4171     41.479    203.728      0.000    8369.120    8531.715
==============================================================================
Omnibus:                    59050.701   Durbin-Watson:                   0.443
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           121918.948
Skew:                           0.812   Prob(JB):                         0.00
Kurtosis:                       4.959   Cond. No.                     1.23e+03
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 1.23e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_dropped, y, test_size=0.2, random_state=42)

In [ ]:
# Train the Random Forest model
rf_model = RandomForestRegressor(n_estimators=10, random_state=42)
rf_model.fit(X_train, y_train)

RandomForestRegressor(n_estimators=10, random_state=42)

In [ ]:
# Make predictions
y_pred_rf = rf_model.predict(X_test)

# Evaluate the model
mse_rf = mean_squared_error(y_test, y_pred_rf)
r2_rf = r2_score(y_test, y_pred_rf)

print("Random Forest Regression Model with 10 Estimators")
print(f"Mean Squared Error: {mse_rf}")
print(f"R-squared: {r2_rf}")

Random Forest Regression Model with 10 Estimators
Mean Squared Error: 36189166.51799265
R-squared: 0.9123041977135148

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor

# Train the Gradient Boosting model with 10 estimators
gb_model = GradientBoostingRegressor(n_estimators=10, random_state=42)
gb_model.fit(X_train, y_train)

# Make predictions
y_pred_gb = gb_model.predict(X_test)

# Evaluate the model
mse_gb = mean_squared_error(y_test, y_pred_gb)
r2_gb = r2_score(y_test, y_pred_gb)

print("\nGradient Boosting Regression Model with 10 Estimators")
print(f"Mean Squared Error: {mse_gb}")
print(f"R-squared: {r2_gb}")

Gradient Boosting Regression Model with 10 Estimators
Mean Squared Error: 106809503.56314184
R-squared: 0.741172676576181

In [ ]:
# Print the results for comparison
print("\nSummary of Model Performance")
print("Random Forest Regression with 10 Estimators")
print(f"Mean Squared Error: {mse_rf}")
print(f"R-squared: {r2_rf}")

print("\nGradient Boosting Regression with 10 Estimators")
print(f"Mean Squared Error: {mse_gb}")
print(f"R-squared: {r2_gb}")

Summary of Model Performance
Random Forest Regression with 10 Estimators
Mean Squared Error: 36189166.51799265
R-squared: 0.9123041977135148

Gradient Boosting Regression with 10 Estimators
Mean Squared Error: 106809503.56314184
R-squared: 0.741172676576181