In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
cd

C:\Users\37789

In [3]:
df = pd.read_csv("flightPrice.csv")

In [4]:
df

,Date_of_journey,Journey_day,Airline,Flight_code,Class,Source,Departure,Total_stops,Arrival,Destination,Duration_in_hours,Days_left,Fare
0,2023-01-16,Monday,SpiceJet,SG-8169,Economy,Delhi,After 6 PM,non-stop,After 6 PM,Mumbai,2.0833,1,5335
1,2023-01-16,Monday,Indigo,6E-2519,Economy,Delhi,After 6 PM,non-stop,Before 6 AM,Mumbai,2.3333,1,5899
2,2023-01-16,Monday,GO FIRST,G8-354,Economy,Delhi,After 6 PM,non-stop,Before 6 AM,Mumbai,2.1667,1,5801
3,2023-01-16,Monday,SpiceJet,SG-8709,Economy,Delhi,After 6 PM,non-stop,After 6 PM,Mumbai,2.0833,1,5794
4,2023-01-16,Monday,Air India,AI-805,Economy,Delhi,After 6 PM,non-stop,After 6 PM,Mumbai,2.1667,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...,...
452083,2023-03-06,Monday,Vistara,UK-926,Business,Ahmedabad,6 AM - 12 PM,1-stop,After 6 PM,Chennai,13.0833,50,65028
452084,2023-03-06,Monday,Vistara,UK-918,Business,Ahmedabad,Before 6 AM,1-stop,12 PM - 6 PM,Chennai,11.2500,50,69254
452085,2023-03-06,Monday,Vistara,UK-918,Business,Ahmedabad,Before 6 AM,1-stop,12 PM - 6 PM,Chennai,11.2500,50,69254
452086,2023-03-06,Monday,Vistara,UK-946,Business,Ahmedabad,6 AM - 12 PM,1-stop,After 6 PM,Chennai,11.1667,50,72980
452087,2023-03-06,Monday,Vistara,UK-946,Business,Ahmedabad,6 AM - 12 PM,1-stop,After 6 PM,Chennai,11.1667,50,72980

In [5]:
df.isnull().sum()

Date_of_journey      0
Journey_day          0
Airline              0
Flight_code          0
Class                0
Source               0
Departure            0
Total_stops          0
Arrival              0
Destination          0
Duration_in_hours    0
Days_left            0
Fare                 0
dtype: int64

In [6]:
df['Date_of_journey'] = pd.to_datetime(df['Date_of_journey'], format='%Y-%m-%d')
df["Day"] = df["Date_of_journey"].dt.day
df["Month"] = df["Date_of_journey"].dt.month
df["Year"] = df["Date_of_journey"].dt.year
df.drop(columns=["Date_of_journey"], inplace=True)

In [7]:
encoder = OneHotEncoder(drop='first', sparse_output=False)

In [8]:
columns_to_encode = ['Class', 'Source','Airline','Journey_day','Destination']

In [9]:
one_hot_encoded_data = encoder.fit_transform(df[columns_to_encode])

In [10]:
one_hot_encoded_df = pd.DataFrame(one_hot_encoded_data, columns=encoder.get_feature_names_out(columns_to_encode))

one_hot_encoded_df.index = df.index

df.drop(columns=columns_to_encode, inplace=True)

df = pd.concat([df, one_hot_encoded_df], axis=1)

In [11]:
label_encoder = LabelEncoder()
df["Total_stops_encoded"] = label_encoder.fit_transform(df["Total_stops"])

df["Total_stops"] = df["Total_stops_encoded"]

In [12]:
df.drop(columns=["Flight_code"], inplace=True)

In [13]:
df["Departure"].unique()

array(['After 6 PM', 'Before 6 AM', '12 PM - 6 PM', '6 AM - 12 PM'],
      dtype=object)

In [14]:
df["Arrival"].unique()

array(['After 6 PM', 'Before 6 AM', '6 AM - 12 PM', '12 PM - 6 PM'],
      dtype=object)

In [15]:
Time_Slots = ['After 6 PM', 'Before 6 AM', '12 PM - 6 PM', '6 AM - 12 PM']

In [16]:
encoder = OneHotEncoder(categories=[Time_Slots,Time_Slots], drop='first', sparse_output=False)

In [17]:
one_hot_encoded_data = encoder.fit_transform(df[['Arrival', 'Departure']])

feature_names = encoder.get_feature_names_out(['Arrival', 'Departure'])

In [18]:
one_hot_encoded_df = pd.DataFrame(one_hot_encoded_data, columns=feature_names)
one_hot_encoded_df.index = df.index

In [19]:
df.drop(columns=['Arrival', 'Departure'], inplace=True)

In [20]:
df = pd.concat([df, one_hot_encoded_df], axis=1)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452088 entries, 0 to 452087
Data columns (total 43 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Total_stops             452088 non-null  int32
 1   Duration_in_hours       452088 non-null  float64
 2   Days_left               452088 non-null  int64
 3   Fare                    452088 non-null  int64
 4   Day                     452088 non-null  int32
 5   Month                   452088 non-null  int32
 6   Year                    452088 non-null  int32
 7   Class_Economy           452088 non-null  float64
 8   Class_First             452088 non-null  float64
 9   Class_Premium Economy   452088 non-null  float64
 10  Source_Bangalore        452088 non-null  float64
 11  Source_Chennai          452088 non-null  float64
 12  Source_Delhi            452088 non-null  float64
 13  Source_Hyderabad        452088 non-null  float64
 14  Source_Kolkata          452088 non-null  float64
 15  Source_Mumbai           452088 non-null  float64
 16  Airline_AirAsia         452088 non-null  float64
 17  Airline_AkasaAir        452088 non-null  float64
 18  Airline_AllianceAir     452088 non-null  float64
 19  Airline_GO FIRST        452088 non-null  float64
 20  Airline_Indigo          452088 non-null  float64
 21  Airline_SpiceJet        452088 non-null  float64
 22  Airline_StarAir         452088 non-null  float64
 23  Airline_Vistara         452088 non-null  float64
 24  Journey_day_Monday      452088 non-null  float64
 25  Journey_day_Saturday    452088 non-null  float64
 26  Journey_day_Sunday      452088 non-null  float64
 27  Journey_day_Thursday    452088 non-null  float64
 28  Journey_day_Tuesday     452088 non-null  float64
 29  Journey_day_Wednesday   452088 non-null  float64
 30  Destination_Bangalore   452088 non-null  float64
 31  Destination_Chennai     452088 non-null  float64
 32  Destination_Delhi       452088 non-null  float64
 33  Destination_Hyderabad   452088 non-null  float64
 34  Destination_Kolkata     452088 non-null  float64
 35  Destination_Mumbai      452088 non-null  float64
 36  Total_stops_encoded     452088 non-null  int32
 37  Arrival_Before 6 AM     452088 non-null  float64
 38  Arrival_12 PM - 6 PM    452088 non-null  float64
 39  Arrival_6 AM - 12 PM    452088 non-null  float64
 40  Departure_Before 6 AM   452088 non-null  float64
 41  Departure_12 PM - 6 PM  452088 non-null  float64
 42  Departure_6 AM - 12 PM  452088 non-null  float64
dtypes: float64(36), int32(5), int64(2)
memory usage: 139.7 MB

In [22]:
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [23]:
y = df['Fare']
X = df.drop(columns=['Fare'])

In [24]:
X = sm.add_constant(X)

In [25]:
model = sm.OLS(y, X).fit()

In [26]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Fare   R-squared:                       0.850
Model:                            OLS   Adj. R-squared:                  0.850
Method:                 Least Squares   F-statistic:                 6.385e+04
Date:                Wed, 05 Jun 2024   Prob (F-statistic):               0.00
Time:                        15:40:40   Log-Likelihood:            -4.6974e+06
No. Observations:              452088   AIC:                         9.395e+06
Df Residuals:                  452047   BIC:                         9.395e+06
Df Model:                          40
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Total_stops            -1661.0606      9.986   -166.333      0.000   -1680.633   -1641.488
Duration_in_hours         68.9319      1.975     34.900      0.000      65.061      72.803
Days_left              -1053.8873     16.922    -62.280      0.000   -1087.054   -1020.721
Day                      932.5345     17.121     54.469      0.000     898.979     966.090
Month                   2.717e+04    508.011     53.489      0.000    2.62e+04    2.82e+04
Year                       4.9310      0.377     13.097      0.000       4.193       5.669
Class_Economy          -3.965e+04     30.163  -1314.646      0.000   -3.97e+04   -3.96e+04
Class_First             1.805e+04    658.106     27.430      0.000    1.68e+04    1.93e+04
Class_Premium Economy  -3.679e+04     39.124   -940.269      0.000   -3.69e+04   -3.67e+04
Source_Bangalore         831.7001     48.241     17.241      0.000     737.150     926.250
Source_Chennai           770.3576     50.985     15.109      0.000     670.428     870.287
Source_Delhi           -1200.6166     47.367    -25.347      0.000   -1293.454   -1107.780
Source_Hyderabad        -210.3223     50.597     -4.157      0.000    -309.491    -111.154
Source_Kolkata          4220.5285     50.745     83.171      0.000    4121.069    4319.988
Source_Mumbai           1098.7692     47.470     23.147      0.000    1005.730    1191.808
Airline_AirAsia        -1503.2467     69.626    -21.590      0.000   -1639.711   -1366.782
Airline_AkasaAir         792.7544    173.176      4.578      0.000     453.335    1132.173
Airline_AllianceAir      881.4545    399.640      2.206      0.027      98.171    1664.738
Airline_GO FIRST         291.9297     81.797      3.569      0.000     131.610     452.250
Airline_Indigo            79.0845     45.042      1.756      0.079      -9.197     167.366
Airline_SpiceJet        -197.8752    106.623     -1.856      0.063    -406.853      11.103
Airline_StarAir         4984.8934   1001.318      4.978      0.000    3022.340    6947.447
Airline_Vistara         4048.7357     30.494    132.770      0.000    3988.968    4108.504
Journey_day_Monday        43.5150     42.956      1.013      0.311     -40.676     127.706
Journey_day_Saturday     109.8899     44.353      2.478      0.013      22.960     196.820
Journey_day_Sunday       563.7660     44.519     12.663      0.000     476.509     651.023
Journey_day_Thursday    -337.3919     44.046     -7.660      0.000    -423.721    -251.063
Journey_day_Tuesday     -333.8940     44.790     -7.455      0.000    -421.681    -246.107
Journey_day_Wednesday     23.6959     44.255      0.535      0.592     -63.043     110.435
Destination_Bangalore   1977.5339     48.350     40.900      0.000    1882.769    2072.299
Destination_Chennai     2559.9141     50.449     50.742      0.000    2461.035    2658.793
Destination_Delhi          3.3814     48.214      0.070      0.944     -91.116      97.879
Destination_Hyderabad    809.8314     49.567     16.338      0.000     712.682     906.981
Destination_Kolkata     4769.1190     50.907     93.683      0.000    4669.343    4868.895
Destination_Mumbai      2439.3835     47.304     51.568      0.000    2346.669    2532.098
Total_stops_encoded    -1661.0606      9.986   -166.333      0.000   -1680.633   -1641.488
Arrival_Before 6 AM    -1728.4749     50.110    -34.494      0.000   -1826.689   -1630.261
Arrival_12 PM - 6 PM      59.3435     31.002      1.914      0.056      -1.419     120.106
Arrival_6 AM - 12 PM   -1893.0021     29.588    -63.979      0.000   -1950.993   -1835.011
Departure_Before 6 AM   -369.4529     58.063     -6.363      0.000    -483.255    -255.651
Departure_12 PM - 6 PM   210.1227     33.101      6.348      0.000     145.246     274.999
Departure_6 AM - 12 PM   246.0959     29.932      8.222      0.000     187.429     304.762
==============================================================================
Omnibus:                   120605.513   Durbin-Watson:                   0.315
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           918319.792
Skew:                           1.079   Prob(JB):                         0.00
Kurtosis:                       9.641   Cond. No.                     1.86e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.38e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [27]:
vif_data = pd.DataFrame()
vif_data["Feature"] = X.columns
vif_data["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
print(vif_data)

C:\Users\37789\anaconda3\Lib\site-packages\statsmodels\stats\outliers_influence.py:198: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

                   Feature          VIF
0              Total_stops          inf
1        Duration_in_hours     1.570360
2                Days_left   426.854725
3                      Day   176.346354
4                    Month   745.900733
5                     Year  4228.517933
6            Class_Economy     1.635916
7              Class_First     1.005208
8    Class_Premium Economy     1.511946
9         Source_Bangalore     2.306218
10          Source_Chennai     2.072468
11            Source_Delhi     2.454650
12        Source_Hyderabad     2.045468
13          Source_Kolkata     2.023243
14           Source_Mumbai     2.409069
15         Airline_AirAsia     1.189139
16        Airline_AkasaAir     1.072930
17     Airline_AllianceAir     1.011099
18        Airline_GO FIRST     1.135770
19          Airline_Indigo     1.835800
20        Airline_SpiceJet     1.060705
21         Airline_StarAir     1.002113
22         Airline_Vistara     1.693526
23      Journey_day_Monday     1.805282
24    Journey_day_Saturday     1.708611
25      Journey_day_Sunday     1.712987
26    Journey_day_Thursday     1.722659
27     Journey_day_Tuesday     1.763111
28   Journey_day_Wednesday     1.727589
29   Destination_Bangalore     2.290396
30     Destination_Chennai     2.062110
31       Destination_Delhi     2.412535
32   Destination_Hyderabad     2.134565
33     Destination_Kolkata     2.000942
34      Destination_Mumbai     2.444540
35     Total_stops_encoded          inf
36     Arrival_Before 6 AM     1.160752
37    Arrival_12 PM - 6 PM     1.218973
38    Arrival_6 AM - 12 PM     1.241788
39   Departure_Before 6 AM     1.204366
40  Departure_12 PM - 6 PM     1.521414
41  Departure_6 AM - 12 PM     1.578744

In [28]:
# Extract p-values
p_values = model.pvalues

In [29]:
threshold = 0.05

In [30]:
features_above_threshold = p_values[p_values > threshold]

In [31]:
print("Features with p-value greater than 0.05:")
print(features_above_threshold)

Features with p-value greater than 0.05:
Airline_Indigo           0.079127
Airline_SpiceJet         0.063478
Journey_day_Monday       0.311049
Journey_day_Wednesday    0.592350
Destination_Delhi        0.944088
Arrival_12 PM - 6 PM     0.055597
dtype: float64

In [32]:
X = X.drop(columns=['Destination_Delhi'])
X = X.drop(columns=['Journey_day_Wednesday'])
X = X.drop(columns=['Journey_day_Monday'])
X = X.drop(columns=['Airline_Indigo'])
X = X.drop(columns=['Airline_SpiceJet'])
X = X.drop(columns=['Arrival_12 PM - 6 PM'])

In the earlier file we checked the model summary after dropping each value one by one, and we the results.
So to make the results simpler let's just drop all 6 values at once and then check the overall effect then head to the VIF values.

In [33]:
# Add a constant term to the feature matrix
X = sm.add_constant(X)
model = sm.OLS(y, X).fit()

In [34]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Fare   R-squared:                       0.850
Model:                            OLS   Adj. R-squared:                  0.850
Method:                 Least Squares   F-statistic:                 7.512e+04
Date:                Wed, 05 Jun 2024   Prob (F-statistic):               0.00
Time:                        15:42:37   Log-Likelihood:            -4.6974e+06
No. Observations:              452088   AIC:                         9.395e+06
Df Residuals:                  452053   BIC:                         9.395e+06
Df Model:                          34
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Total_stops            -1662.5697      9.972   -166.731      0.000   -1682.114   -1643.026
Duration_in_hours         67.3166      1.826     36.859      0.000      63.737      70.896
Days_left              -1054.7209     16.909    -62.375      0.000   -1087.863   -1021.579
Day                      933.4877     17.096     54.602      0.000     899.980     966.996
Month                    2.72e+04    507.586     53.583      0.000    2.62e+04    2.82e+04
Year                       4.9513      0.376     13.178      0.000       4.215       5.688
Class_Economy          -3.964e+04     28.623  -1384.954      0.000   -3.97e+04   -3.96e+04
Class_First             1.802e+04    657.910     27.385      0.000    1.67e+04    1.93e+04
Class_Premium Economy  -3.678e+04     38.561   -953.749      0.000   -3.69e+04   -3.67e+04
Source_Bangalore         828.9550     48.162     17.212      0.000     734.560     923.350
Source_Chennai           768.1633     50.897     15.092      0.000     668.406     867.920
Source_Delhi           -1207.8325     46.694    -25.867      0.000   -1299.351   -1116.314
Source_Hyderabad        -208.0324     50.451     -4.123      0.000    -306.915    -109.149
Source_Kolkata          4221.3723     50.648     83.347      0.000    4122.103    4320.641
Source_Mumbai           1091.7318     47.200     23.130      0.000     999.221    1184.243
Airline_AirAsia        -1531.4157     66.247    -23.117      0.000   -1661.258   -1401.573
Airline_AkasaAir         767.0708    171.295      4.478      0.000     431.338    1102.804
Airline_AllianceAir      845.5545    398.842      2.120      0.034      63.837    1627.272
Airline_GO FIRST         260.0002     79.106      3.287      0.001     104.954     415.046
Airline_StarAir         4938.2997   1000.997      4.933      0.000    2976.377    6900.223
Airline_Vistara         4033.1407     27.802    145.068      0.000    3978.650    4087.631
Journey_day_Saturday      87.1856     36.158      2.411      0.016      16.317     158.054
Journey_day_Sunday       541.0985     36.359     14.882      0.000     469.835     612.362
Journey_day_Thursday    -360.5714     35.788    -10.075      0.000    -430.715    -290.427
Journey_day_Tuesday     -357.3894     36.626     -9.758      0.000    -429.176    -285.603
Destination_Bangalore   1974.1438     38.114     51.796      0.000    1899.442    2048.845
Destination_Chennai     2556.6299     40.895     62.516      0.000    2476.476    2636.784
Destination_Hyderabad    816.4452     39.484     20.678      0.000     739.057     893.833
Destination_Kolkata     4767.8532     41.197    115.733      0.000    4687.108    4848.598
Destination_Mumbai      2434.6935     36.346     66.986      0.000    2363.456    2505.931
Total_stops_encoded    -1662.5697      9.972   -166.731      0.000   -1682.114   -1643.026
Arrival_Before 6 AM    -1738.0803     48.447    -35.876      0.000   -1833.035   -1643.125
Arrival_6 AM - 12 PM   -1913.6386     27.774    -68.900      0.000   -1968.075   -1859.202
Departure_Before 6 AM   -355.6881     57.824     -6.151      0.000    -469.022    -242.354
Departure_12 PM - 6 PM   205.7338     32.910      6.251      0.000     141.232     270.236
Departure_6 AM - 12 PM   244.3389     29.849      8.186      0.000     185.837     302.841
==============================================================================
Omnibus:                   120695.717   Durbin-Watson:                   0.315
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           919749.398
Skew:                           1.079   Prob(JB):                         0.00
Kurtosis:                       9.646   Cond. No.                     1.61e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.12e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

Just like earlier we didnt see any changes in the R square value.

In [35]:
# Set a threshold for VIF
vif_threshold = 10

# Identify features with VIF greater than the threshold
features_above_threshold = vif_data[vif_data["VIF"] > vif_threshold]

# Print the features with VIF greater than the threshold
print(f"Features with VIF greater than {vif_threshold}:")
print(features_above_threshold)

Features with VIF greater than 10:
                Feature          VIF
0           Total_stops          inf
2             Days_left   426.854725
3                   Day   176.346354
4                 Month   745.900733
5                  Year  4228.517933
35  Total_stops_encoded          inf

In [36]:
# Check correlation between 'Total_stops' and 'Total_stops_encoded'
correlation_matrix = X[['Total_stops', 'Total_stops_encoded']].corr()
print("\nCorrelation between 'Total_stops' and 'Total_stops_encoded':")
print(correlation_matrix)

Correlation between 'Total_stops' and 'Total_stops_encoded':
                     Total_stops  Total_stops_encoded
Total_stops                  1.0                  1.0
Total_stops_encoded          1.0                  1.0

In [37]:
# Decide to drop 'Total_stops_encoded' based on correlation
X_dropped = X.drop(columns=['Total_stops_encoded'])

In [38]:
# Decide to drop 'Total_stops' based on correlation
X_dropped = X.drop(columns=['Total_stops'])

In [39]:
model_dropped = sm.OLS(y, X_dropped).fit()
print("\nModel summary after dropping 'Total_stops_encoded':")
print(model_dropped.summary())

Model summary after dropping 'Total_stops_encoded':
                            OLS Regression Results
==============================================================================
Dep. Variable:                   Fare   R-squared:                       0.850
Model:                            OLS   Adj. R-squared:                  0.850
Method:                 Least Squares   F-statistic:                 7.512e+04
Date:                Wed, 05 Jun 2024   Prob (F-statistic):               0.00
Time:                        15:42:39   Log-Likelihood:            -4.6974e+06
No. Observations:              452088   AIC:                         9.395e+06
Df Residuals:                  452053   BIC:                         9.395e+06
Df Model:                          34
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Duration_in_hours         67.3166      1.826     36.859      0.000      63.737      70.896
Days_left              -1054.7209     16.909    -62.375      0.000   -1087.863   -1021.579
Day                      933.4877     17.096     54.602      0.000     899.980     966.996
Month                    2.72e+04    507.586     53.583      0.000    2.62e+04    2.82e+04
Year                       4.9513      0.376     13.178      0.000       4.215       5.688
Class_Economy          -3.964e+04     28.623  -1384.954      0.000   -3.97e+04   -3.96e+04
Class_First             1.802e+04    657.910     27.385      0.000    1.67e+04    1.93e+04
Class_Premium Economy  -3.678e+04     38.561   -953.749      0.000   -3.69e+04   -3.67e+04
Source_Bangalore         828.9550     48.162     17.212      0.000     734.560     923.350
Source_Chennai           768.1633     50.897     15.092      0.000     668.406     867.920
Source_Delhi           -1207.8325     46.694    -25.867      0.000   -1299.351   -1116.314
Source_Hyderabad        -208.0324     50.451     -4.123      0.000    -306.915    -109.149
Source_Kolkata          4221.3723     50.648     83.347      0.000    4122.103    4320.641
Source_Mumbai           1091.7318     47.200     23.130      0.000     999.221    1184.243
Airline_AirAsia        -1531.4157     66.247    -23.117      0.000   -1661.258   -1401.573
Airline_AkasaAir         767.0708    171.295      4.478      0.000     431.338    1102.804
Airline_AllianceAir      845.5545    398.842      2.120      0.034      63.837    1627.272
Airline_GO FIRST         260.0002     79.106      3.287      0.001     104.954     415.046
Airline_StarAir         4938.2997   1000.997      4.933      0.000    2976.377    6900.223
Airline_Vistara         4033.1407     27.802    145.068      0.000    3978.650    4087.631
Journey_day_Saturday      87.1856     36.158      2.411      0.016      16.317     158.054
Journey_day_Sunday       541.0985     36.359     14.882      0.000     469.835     612.362
Journey_day_Thursday    -360.5714     35.788    -10.075      0.000    -430.715    -290.427
Journey_day_Tuesday     -357.3894     36.626     -9.758      0.000    -429.176    -285.603
Destination_Bangalore   1974.1438     38.114     51.796      0.000    1899.442    2048.845
Destination_Chennai     2556.6299     40.895     62.516      0.000    2476.476    2636.784
Destination_Hyderabad    816.4452     39.484     20.678      0.000     739.057     893.833
Destination_Kolkata     4767.8532     41.197    115.733      0.000    4687.108    4848.598
Destination_Mumbai      2434.6935     36.346     66.986      0.000    2363.456    2505.931
Total_stops_encoded    -3325.1395     19.943   -166.731      0.000   -3364.227   -3286.052
Arrival_Before 6 AM    -1738.0803     48.447    -35.876      0.000   -1833.035   -1643.125
Arrival_6 AM - 12 PM   -1913.6386     27.774    -68.900      0.000   -1968.075   -1859.202
Departure_Before 6 AM   -355.6881     57.824     -6.151      0.000    -469.022    -242.354
Departure_12 PM - 6 PM   205.7338     32.910      6.251      0.000     141.232     270.236
Departure_6 AM - 12 PM   244.3389     29.849      8.186      0.000     185.837     302.841
==============================================================================
Omnibus:                   120695.717   Durbin-Watson:                   0.315
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           919749.398
Skew:                           1.079   Prob(JB):                         0.00
Kurtosis:                       9.646   Cond. No.                     1.73e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.73e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [40]:
# Identify features with high VIF
high_vif_features = vif_data[vif_data["VIF"] > 10]["Feature"].tolist()

In [41]:
# Print features with high VIF values
print("\nFeatures with VIF greater than 10:")
print(vif_data[vif_data["VIF"] > 10])

Features with VIF greater than 10:
                Feature          VIF
0           Total_stops          inf
2             Days_left   426.854725
3                   Day   176.346354
4                 Month   745.900733
5                  Year  4228.517933
35  Total_stops_encoded          inf

C:\Users\37789\anaconda3\Lib\site-packages\statsmodels\stats\outliers_influence.py:198: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

In [42]:
# Refit the model with the remaining features
model_dropped = sm.OLS(y, X_dropped).fit()

# Print the updated model summary
print("\nModel summary after dropping high VIF features:")
print(model_dropped.summary())

Model summary after dropping high VIF features:
                            OLS Regression Results
==============================================================================
Dep. Variable:                   Fare   R-squared:                       0.850
Model:                            OLS   Adj. R-squared:                  0.850
Method:                 Least Squares   F-statistic:                 7.512e+04
Date:                Wed, 05 Jun 2024   Prob (F-statistic):               0.00
Time:                        15:42:42   Log-Likelihood:            -4.6974e+06
No. Observations:              452088   AIC:                         9.395e+06
Df Residuals:                  452053   BIC:                         9.395e+06
Df Model:                          34
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Duration_in_hours         67.3166      1.826     36.859      0.000      63.737      70.896
Days_left              -1054.7209     16.909    -62.375      0.000   -1087.863   -1021.579
Day                      933.4877     17.096     54.602      0.000     899.980     966.996
Month                    2.72e+04    507.586     53.583      0.000    2.62e+04    2.82e+04
Year                       4.9513      0.376     13.178      0.000       4.215       5.688
Class_Economy          -3.964e+04     28.623  -1384.954      0.000   -3.97e+04   -3.96e+04
Class_First             1.802e+04    657.910     27.385      0.000    1.67e+04    1.93e+04
Class_Premium Economy  -3.678e+04     38.561   -953.749      0.000   -3.69e+04   -3.67e+04
Source_Bangalore         828.9550     48.162     17.212      0.000     734.560     923.350
Source_Chennai           768.1633     50.897     15.092      0.000     668.406     867.920
Source_Delhi           -1207.8325     46.694    -25.867      0.000   -1299.351   -1116.314
Source_Hyderabad        -208.0324     50.451     -4.123      0.000    -306.915    -109.149
Source_Kolkata          4221.3723     50.648     83.347      0.000    4122.103    4320.641
Source_Mumbai           1091.7318     47.200     23.130      0.000     999.221    1184.243
Airline_AirAsia        -1531.4157     66.247    -23.117      0.000   -1661.258   -1401.573
Airline_AkasaAir         767.0708    171.295      4.478      0.000     431.338    1102.804
Airline_AllianceAir      845.5545    398.842      2.120      0.034      63.837    1627.272
Airline_GO FIRST         260.0002     79.106      3.287      0.001     104.954     415.046
Airline_StarAir         4938.2997   1000.997      4.933      0.000    2976.377    6900.223
Airline_Vistara         4033.1407     27.802    145.068      0.000    3978.650    4087.631
Journey_day_Saturday      87.1856     36.158      2.411      0.016      16.317     158.054
Journey_day_Sunday       541.0985     36.359     14.882      0.000     469.835     612.362
Journey_day_Thursday    -360.5714     35.788    -10.075      0.000    -430.715    -290.427
Journey_day_Tuesday     -357.3894     36.626     -9.758      0.000    -429.176    -285.603
Destination_Bangalore   1974.1438     38.114     51.796      0.000    1899.442    2048.845
Destination_Chennai     2556.6299     40.895     62.516      0.000    2476.476    2636.784
Destination_Hyderabad    816.4452     39.484     20.678      0.000     739.057     893.833
Destination_Kolkata     4767.8532     41.197    115.733      0.000    4687.108    4848.598
Destination_Mumbai      2434.6935     36.346     66.986      0.000    2363.456    2505.931
Total_stops_encoded    -3325.1395     19.943   -166.731      0.000   -3364.227   -3286.052
Arrival_Before 6 AM    -1738.0803     48.447    -35.876      0.000   -1833.035   -1643.125
Arrival_6 AM - 12 PM   -1913.6386     27.774    -68.900      0.000   -1968.075   -1859.202
Departure_Before 6 AM   -355.6881     57.824     -6.151      0.000    -469.022    -242.354
Departure_12 PM - 6 PM   205.7338     32.910      6.251      0.000     141.232     270.236
Departure_6 AM - 12 PM   244.3389     29.849      8.186      0.000     185.837     302.841
==============================================================================
Omnibus:                   120695.717   Durbin-Watson:                   0.315
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           919749.398
Skew:                           1.079   Prob(JB):                         0.00
Kurtosis:                       9.646   Cond. No.                     1.73e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.73e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [43]:
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X_dropped, y, test_size=0.2, random_state=42)

In [50]:
# Assuming df is your DataFrame and 'Fare' is the target column
X = df.drop(columns=['Fare'])
y = df['Fare']

# Calculate VIF for each feature
vif_data = pd.DataFrame()
vif_data["Feature"] = X.columns
vif_data["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

# Set a threshold for VIF
vif_threshold = 10

# Identify features with high VIF values
high_vif_features = vif_data[vif_data["VIF"] > vif_threshold]["Feature"]

# Drop features with high VIF values
X_dropped = X.drop(columns=high_vif_features)

# Recalculate VIF after dropping the features
vif_data_dropped = pd.DataFrame()
vif_data_dropped["Feature"] = X_dropped.columns
vif_data_dropped["VIF"] = [variance_inflation_factor(X_dropped.values, i) for i in range(X_dropped.shape[1])]

# Print the VIF data after dropping the features
print("\nVIF data after dropping high VIF features:")
print(vif_data_dropped)

# Refit the model with the remaining features
model_dropped = sm.OLS(y, X_dropped).fit()

# Print the updated model summary
print("\nModel summary after dropping high VIF features:")
print(model_dropped.summary())

# Performing RFE on the reduced set of features
model = LinearRegression()

# Initialize RFE with the linear regression model and choose the number of features to select
rfe = RFE(model, n_features_to_select=15)  # Adjust the number of features to select as needed
rfe = rfe.fit(X_dropped, y)

# Get the selected features
selected_features = X_dropped.columns[rfe.support_]

# Display the selected features
print("\nSelected Features: ", selected_features)

# Create a new feature set with the selected features
X_selected = X_dropped[selected_features]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_selected, y, test_size=0.2, random_state=42)

# Fit the linear regression model
model.fit(X_train, y_train)

# Make predictions on the training set
y_train_pred = model.predict(X_train)

# Make predictions on the test set
y_test_pred = model.predict(X_test)

# Evaluate the model on the training set
mse_train = mean_squared_error(y_train, y_train_pred)
r2_train = r2_score(y_train, y_train_pred)

# Evaluate the model on the test set
mse_test = mean_squared_error(y_test, y_test_pred)
r2_test = r2_score(y_test, y_test_pred)

C:\Users\37789\anaconda3\Lib\site-packages\statsmodels\stats\outliers_influence.py:198: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

VIF data after dropping high VIF features:
                   Feature       VIF
0        Duration_in_hours  4.305941
1            Class_Economy  3.521669
2              Class_First  1.003576
3    Class_Premium Economy  1.780190
4         Source_Bangalore  2.164689
5           Source_Chennai  1.915864
6             Source_Delhi  2.298035
7         Source_Hyderabad  1.925023
8           Source_Kolkata  1.948995
9            Source_Mumbai  2.203176
10         Airline_AirAsia  1.227776
11        Airline_AkasaAir  1.046996
12     Airline_AllianceAir  1.008643
13        Airline_GO FIRST  1.148049
14          Airline_Indigo  2.025401
15        Airline_SpiceJet  1.069641
16         Airline_StarAir  1.002023
17         Airline_Vistara  3.141633
18      Journey_day_Monday  1.959150
19    Journey_day_Saturday  1.832119
20      Journey_day_Sunday  1.833667
21    Journey_day_Thursday  1.845260
22     Journey_day_Tuesday  1.841880
23   Journey_day_Wednesday  1.846447
24   Destination_Bangalore  2.193964
25     Destination_Chennai  1.947329
26       Destination_Delhi  2.315137
27   Destination_Hyderabad  2.069252
28     Destination_Kolkata  1.937495
29      Destination_Mumbai  2.363795
30     Arrival_Before 6 AM  1.229219
31    Arrival_12 PM - 6 PM  1.541164
32    Arrival_6 AM - 12 PM  1.641941
33   Departure_Before 6 AM  1.223530
34  Departure_12 PM - 6 PM  1.881334
35  Departure_6 AM - 12 PM  2.403281

Model summary after dropping high VIF features:
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                   Fare   R-squared (uncentered):                   0.879
Model:                            OLS   Adj. R-squared (uncentered):              0.879
Method:                 Least Squares   F-statistic:                          9.127e+04
Date:                Wed, 05 Jun 2024   Prob (F-statistic):                        0.00
Time:                        15:59:15   Log-Likelihood:                     -4.8329e+06
No. Observations:              452088   AIC:                                  9.666e+06
Df Residuals:                  452052   BIC:                                  9.666e+06
Df Model:                          36
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Duration_in_hours        615.5663      2.276    270.460      0.000     611.105     620.027
Class_Economy          -3.655e+04     39.732   -919.872      0.000   -3.66e+04   -3.65e+04
Class_First             2.469e+04    887.345     27.820      0.000    2.29e+04    2.64e+04
Class_Premium Economy  -3.624e+04     52.462   -690.812      0.000   -3.63e+04   -3.61e+04
Source_Bangalore        1.318e+04     57.733    228.297      0.000    1.31e+04    1.33e+04
Source_Chennai          1.309e+04     61.888    211.466      0.000     1.3e+04    1.32e+04
Source_Delhi             1.09e+04     55.878    195.062      0.000    1.08e+04     1.1e+04
Source_Hyderabad        1.169e+04     61.957    188.736      0.000    1.16e+04    1.18e+04
Source_Kolkata          1.506e+04     62.954    239.149      0.000    1.49e+04    1.52e+04
Source_Mumbai           1.384e+04     55.530    249.256      0.000    1.37e+04    1.39e+04
Airline_AirAsia          868.3917     93.805      9.257      0.000     684.537    1052.246
Airline_AkasaAir        4303.5392    230.313     18.686      0.000    3852.132    4754.946
Airline_AllianceAir     6846.9280    538.482     12.715      0.000    5791.519    7902.337
Airline_GO FIRST        5636.7116    109.660     51.402      0.000    5421.781    5851.642
Airline_Indigo          6295.6007     59.035    106.642      0.000    6179.894    6411.307
Airline_SpiceJet        2965.6903    143.568     20.657      0.000    2684.301    3247.079
Airline_StarAir         9353.0557   1351.269      6.922      0.000    6704.610     1.2e+04
Airline_Vistara         9395.8516     39.157    239.953      0.000    9319.105    9472.598
Journey_day_Monday      6886.3261     55.361    124.389      0.000    6777.820    6994.832
Journey_day_Saturday    6656.6354     57.541    115.685      0.000    6543.857    6769.414
Journey_day_Sunday      6829.6431     57.735    118.293      0.000    6716.484    6942.802
Journey_day_Thursday    6630.5080     56.991    116.344      0.000    6518.808    6742.208
Journey_day_Tuesday     6787.5882     57.290    118.478      0.000    6675.302    6899.875
Journey_day_Wednesday   6911.5580     57.236    120.756      0.000    6799.378    7023.738
Destination_Bangalore   1.401e+04     58.535    239.271      0.000    1.39e+04    1.41e+04
Destination_Chennai     1.437e+04     61.809    232.440      0.000    1.42e+04    1.45e+04
Destination_Delhi         1.2e+04     58.005    206.846      0.000    1.19e+04    1.21e+04
Destination_Hyderabad   1.206e+04     61.141    197.188      0.000    1.19e+04    1.22e+04
Destination_Kolkata     1.569e+04     63.406    247.408      0.000    1.56e+04    1.58e+04
Destination_Mumbai      1.423e+04     56.725    250.840      0.000    1.41e+04    1.43e+04
Arrival_Before 6 AM     1654.1773     67.187     24.621      0.000    1522.493    1785.862
Arrival_12 PM - 6 PM    2532.6451     41.436     61.122      0.000    2451.432    2613.858
Arrival_6 AM - 12 PM     424.6034     39.376     10.783      0.000     347.428     501.779
Departure_Before 6 AM   6038.4404     76.917     78.506      0.000    5887.685    6189.196
Departure_12 PM - 6 PM  5613.2810     42.848    131.006      0.000    5529.301    5697.261
Departure_6 AM - 12 PM  5664.9857     38.312    147.863      0.000    5589.895    5740.077
==============================================================================
Omnibus:                    71807.596   Durbin-Watson:                   0.389
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           183104.619
Skew:                           0.888   Prob(JB):                         0.00
Kurtosis:                       5.562   Cond. No.                     1.23e+03
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 1.23e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

Selected Features:  Index(['Class_Economy', 'Class_First', 'Class_Premium Economy', 'Source_Delhi',
       'Source_Kolkata', 'Airline_AirAsia', 'Airline_AkasaAir',
       'Airline_AllianceAir', 'Airline_Vistara', 'Destination_Bangalore',
       'Destination_Chennai', 'Destination_Kolkata', 'Destination_Mumbai',
       'Arrival_Before 6 AM', 'Arrival_6 AM - 12 PM'],
      dtype='object')

Training Set Metrics
Mean Squared Error:  72855032.62
R-squared:  0.82

Test Set Metrics
Mean Squared Error:  73574213.87
R-squared:  0.82